@import '../vars/colors.scss';
a[class*="el-custom"],
a.el-custom--button,
button[class*="el-custom"],
input[type="button"].el-custom--button,
button.el-custom--button {
    flex: 0 0 auto;
    align-items: center;
    display: inline-flex;
    border-radius: 0px;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow, transform, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    border: 0px solid transparent;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        outline: 0;
        outline-color: transparent !important;
    }
}

.abi--corona-cristal {
    position: relative;
    &::before {
        position: absolute;
        border-radius: 68px;
        content: "";
        width: 110%;
        height: 130%;
        background-color: rgba(255, 198, 39, 0.2);
        z-index: -1;
    }
    text-transform: capitalize;
    z-index: 1;
    width: 235.25px;
    height: 63.51px;
    padding: 10px 20px;
    border-radius: 68px !important;
    background-color: $primary-brand-color;
    color: $tertiary-brand-color;
    font: {
        size: 18px;
        weight: 600;
        family: 'CoronaHeadline-SemiBold';
    }
    i {
        position: absolute;
        right: 30px;
        &::before {
            color: $tertiary-brand-color;
        }
    }
}