@import '../vars/colors.scss';
.el-custom--checkbox {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .checkmark {
        border: 1px solid red;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        display: inline-block;
        cursor: pointer;
        margin-right: 25px;
    }
    input[type="checkbox"] {
        display: none;
    }
    input:checked~label.form-check-label .checkmark {
        background-color: transparent;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        &::after {
            content: "\e902";
            font-family: icon!important;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 12px;
            padding-top: 2px;
        }
    }
}