input.el-custom--input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    &:hover,
    &:focus,
    &:active {
        outline: 0;
        outline-color: transparent !important;
    }
}