*[class*="--flex"] {
    display: flex;
    &.justify-between {
        justify-content: space-between;
        align-items: center;
    }
    &.center {
        justify-content: space-between;
        align-items: center;
    }
}

picture {
    width: 100%;
    img {
        width: 100%;
    }
}