$primary-brand-color: #0D1D41;
$secondary-brand-color: #FECC00;
$tertiary-brand-color: #DC0826;
$fourtiary-brand-color: #fff;
$fifth-brand-color: #000000;
$sixth-brand-color: #AF1625;
$seventh-brand-color: #BB9B00;
$eighth-brand-color: #C4C4C4;
$nineth-brand-color: #C09E4F;
$tenth-brand-color: #FD8204;
$padding-horizontal: 20px;

@mixin labender-fixed ($colorText) {
    // -webkit-text-fill-color: transparent !important;
    // text-shadow: 0px 0px 0px $colorText !important;
    // text-shadow: -1px 0 $colorText, -1px 0px $colorText, -1px 0 $colorText, -1px 0px $colorText;
    // background-color: $colorText;
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
}

@mixin labender-fixed-big-fonts ($colorText) {
    -webkit-text-fill-color: transparent;
    // text-shadow: 0px 0px 0px $colorText;
    text-shadow: -1px 0 $colorText, -1px 0px $colorText, -1px 0 $colorText, -1px 0px $colorText;
    letter-spacing: 2px;
}