$primary-brand-color: #EC1D22;
$primary-darken-brand-color: #e10303;
$secondary-brand-color: #FFF;
$fourty-brand-color: #000000;
//
$tertiary-brand-color: #E1251B;
$fifth-brand-color: #F7F7F7;
$sixth-brand-color: #C4C4C4;
$seventh-brand-color: #8E8787;
$eight-brand-color: #1B1D43;
$nineth-brand-color: #4F4F4F;
$tenth-brand-color: #54566E;
$eleventh-brand-color: #F6F6F6;
$twelve-brand-color: #E4032D;
$thirteen-brand-color: #36354C;
$fourteen-brand-color: #D2D2D2;
$fithteen-brand-color: #826231;