@font-face {
    font-family: 'Bodoni-regular';
    src: url('../assets/fonts/bodoniRegular.otf');
}

@font-face {
    font-family: 'Bodoni-XT';
    src: url('../assets/fonts/bodoniXT.ttf');
}

@font-face {
    font-family: 'Futura-book';
    src: url('../assets/fonts/futuraBook.ttf');
}

@font-face {
    font-family: 'Futura-heavy';
    src: url('../assets/fonts/futuraHeavy.ttf');
}

@font-face {
    font-family: 'Futura-medium';
    src: url('../assets/fonts/futuraMedium.ttf');
}

@font-face {
    font-family: 'Futura-medium-condensed';
    src: url('../assets/fonts/futuraMediumCondensed.ttf');
}

@font-face {
    font-family: 'Taviraj-medium';
    src: url('../assets/fonts/tavirajMedium.ttf');
}