// font-family: Roboto, sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// nunito: font-family: 'Nunito', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
//open sans: font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
//cambo: font-family: 'Cambo', serif;
@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');
//
@font-face {
    font-family: 'coprgtb';
    src: url('../assets/fonts/COPRGTB.TTF');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../assets/fonts/Helvetica.ttf');
}

@font-face {
    font-family: 'DINNextLTPro-Medium';
    src: url('../assets/fonts/DINNextLTPro-Medium.ttf');
}

@font-face {
    font-family: 'Futura-book';
    src: url('../assets/fonts/futuraBook.ttf');
}

@font-face {
    font-family: 'Futura-heavy';
    src: url('../assets/fonts/futuraHeavy.ttf');
}

@font-face {
    font-family: 'Futura-medium';
    src: url('../assets/fonts/futuraMedium.ttf');
}

@font-face {
    font-family: 'Futura-medium-condensed';
    src: url('../assets/fonts/futuraMediumCondensed.ttf');
}

@font-face {
    font-family: 'Taviraj-medium';
    src: url('../assets/fonts/tavirajMedium.ttf');
}