//font-family: 'Open Sans', sans-serif;
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
//
@font-face {
    font-family: 'Apercu-bold';
    src: url('../assets/fonts/Apercu-bold.otf');
}

@font-face {
    font-family: 'Apercu-regular';
    src: url('../assets/fonts/Apercu-regular.otf');
}

@font-face {
    font-family: 'Apercu-Light';
    src: url('../assets/fonts/Apercu-Light.otf');
}