$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../assets/fonts" !default;

$i-arrow-left: "\e900";
$i-arrow-right: "\e901";
$i-check: "\e902";
$i-facebook: "\e903";
$i-instagram: "\e904";
$i-menu: "\e905";
$i-spotify: "\e906";
$i-tiktok: "\e907";
$i-twitter: "\e908";

