$icomoon-font-family: "icon" !default;
$icomoon-font-path: "../assets/fonts" !default;

$i-icon-menu: "\e905";
$i-icon-instagram: "\e900";
$i-icon-arrow-left: "\e901";
$i-icon-arrow-right: "\e902";
$i-icon-twitter: "\e903";
$i-icon-facebook: "\e904";



