$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts/icons" !default;
$icon-arrow-see-more: "\e900";
$icon-burger-menu: "\e901";
$icon-facebook-circle: "\e902";
$icon-facebook-outline: "\e903";
$icon-instagram-circle: "\e904";
$icon-instagram-outline: "\e905";
$icon-less: "\e906";
$icon-pluss: "\e907";
$icon-search: "\e908";
$icon-twitter-circle: "\e909";
$icon-twitter-outline: "\e90a";