$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts/icons" !default;
$icon-agegate-back: "\e900";
$icon-amargor-filled: "\e901";
$icon-amargor-outline: "\e902";
$icon-burger-menu: "\e903";
$icon-close: "\e904";
$icon-corpo-filled: "\e905";
$icon-corpo-outline: "\e906";
$icon-dashed-indicator: "\e907";
$icon-facebook: "\e908";
$icon-facebook-circle: "\e909";
$icon-instagram: "\e90a";
$icon-instagram-circle: "\e90b";
$icon-slider-next: "\e90c";
$icon-slider-prev: "\e90d";
$icon-twitter: "\e90e";
$icon-twitter-circle: "\e90f";
$icon-youtube: "\e910";