$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../assets/fonts/icons" !default;
$icon-facebook: "\e900";
$icon-instagram: "\e901";
$icon-twitter: "\e902";
$icon-whatsapp: "\e903";
$icon-youtube: "\e904";