@import '../vars/colors.scss';
@import '../common/queries.scss';
.el-custom--main.el-custom-404-page{
    background-color: $primary-brand-color;
    height: 100%;
    overflow: hidden;
}
.el-custom--page404{
    padding-bottom: 30%;
    background-image: url('../assets/404/rasgado-404.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: -20%;
    padding-top: 40%;
    position: relative;
    header.el-custom--page404__header{
        position: absolute;
        width: 100%;
        top: 18%;
        text-align: center;
        h1, h5{
            text-align: center;
            color: white;
            font-size: 4vw;
            font-family: Poppins,sans-serif;
            font-weight: bold;
            font-style: italic;
        }
        h1{
            font-size: 6vw;
            font-family: 'Poppins-Bold';
        }
        h5{
            font-size: 1.6vw;
        }
        button{
            background-color: $secondary-brand-color;
            padding: 10px 25px;
            margin-top: 2%;
            font-family: Poppins,sans-serif;
            font-size: 1.4vw;
            font-weight: bold;
            font-style: italic;
        }
    }
}
.el-custom--page404--rasgado{
    text-align: center;
    img{
        width: 65%;
        min-width: 270px;
    }
}

@include for-tablet-landscape-down ('.el-custom--page404--rasgado') { 
    margin-top: 7%;
}
@include for-tablet-landscape-down ('.el-custom--page404') {
    border: 2px solid black;
    width: 100%;
    header.el-custom--page404__header{
        margin-bottom: 10%;
        h1{
            font-size: 4vw;
        }
        h5{
            margin-top: 2%;
            font-size: 2.6vw;
            padding: 0px 10%;
        }
        button{
            font-size: 2.4vw;
        }
    }
}
@include for-phone-only ('.el-custom--page404--rasgado') { 
    margin-top: 10%;
}
@include for-phone-only ('.el-custom--page404') { 
    margin-top: -28%;
    header.el-custom--page404__header{
        h1{
            font-size: 4.5vw;
        }
        h5{
            margin-top: 2%;
            font-size:2.5vw;
            padding: 0px 10%;
            line-height: 1.5;
        }
        button{
            font-size: 3vw;
        }
    }
}
@include for-phone-small ('.el-custom--page404--rasgado') {
    margin-top: 27%;
    // border: 2px dashed black;
}
@include for-phone-small ('.el-custom--page404') {
    padding-bottom: 43%;
    header.el-custom--page404__header{
        // border: 2px dashed black;
        top: 15%;
        h1{
            font-size: 5.5vw;
        }
        h5{
            margin-top: 2%;
            font-size:3.5vw;
            padding: 0px 15%;
        }
        button{
            font-size: 3vw;
        }
    }
}
