@import '../vars/colors.scss';
@import '../common/queries.scss';
$copoazu-bg-color: #77BD1E;
$camucamu-bg-color : #FF2574;
$zerozero-bg-color: #848484;

@mixin slider-navigation () {
    header.el-custom--flavors-page__slider-navigation{
        &.header-0{
            background-image: url('../assets/details/header-back-0.png');
        }
        &.header-1{
            background-image: url('../assets/details/header-back-1.png');
        }
        &.header-2{
            background-image: url('../assets/details/header-back-2.png');
        }
        &.header-3{
            background-image: url('../assets/details/header-back-3.png');
        }
        transition: 0.5s all;
        justify-content: space-between;
        align-items: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        background-position-y: 23%;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: -221px;
    }
}
@mixin slider-page () {
    #el-custom--flavors-page__sliders{
        &.bg-0, &.bg-1{
            background-image: url('../assets/details/bg-1.png');
        }
        &.bg-2{
            background-image: url('../assets/details/bg-2.png');
        }
        &.bg-3{
            background-image: url('../assets/details/bg-3.png');
        }
        background-position-y: -200px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: -10%;
        z-index: 2;
        position: relative;
        transition: 0.3s all;
        .el-custom--flavors-page__sliders-slide{
            position: relative;
            img.el-custom--flavors-page__sliders-image-like-bg{
                width: 100%;
                z-index: 2;
                display: block;
                position: relative;
                margin-bottom: 100px;
            }
            .el-custom--flavors-page__sliders-slide-body{
                padding: 28% $padding-horizontal 35%;
                article{
                    justify-content: space-between;
                    align-items: center;
                }
                article.slider-body--playlist{
                    margin-top: 11%;
                    justify-content: space-between;
                    div.slider-body--playlist__description{
                        width: 33%;
                        h1, p {
                            color: $fifth-brand-color;
                            font-family: 'Poppins', sans-serif;
                        }
                        h1{
                            font-weight: bold;
                            font-size: 4vw;
                            font-style: italic;
                        }
                        p{
                            margin-top: 20px;
                            font-size: 2vw;
                        }
                        button{
                            margin-top: 20px;
                            padding: 10px 30px;
                            background-color: $secondary-brand-color;
                            font-size: 1.8vw;
                        }
                    }
                    div.slider-body--playlist__reproductor{
                        width: 50%;
                        > img{
                            width: 100%;
                        }
                    }
                }
                .description{
                    width: 50%;
                    h1, p {
                        color: $fifth-brand-color;
                        font-family: 'Poppins', sans-serif;
                    }
                    h1{
                        font-weight: bold;
                        font-size: 4vw;
                        font-style: italic;
                    }
                    p{
                        margin-top: 20px;
                        font-size: 2vw;
                    }
                }
                .wrapper-image{
                    width: 40%;
                    > img{
                        display: inline-block;
                        position: relative;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.el-custom--flavors-page__main{
    // overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    @include slider-navigation();
    @include slider-page();
}
@mixin before-navigation-button ($text){
    content: $text;
    font-size: 2.5vw;
    color: $fifth-brand-color;
    font-family: Poppins,sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}
.el-custom--flavors-slider--navigation{
    position: absolute;
    border: 2px solid red;
    z-index: 3;
    width: 100%;
    top: 8.5%;
    ul{
        width: 100%;
        margin: 0px;
        padding: 0px $padding-horizontal;
        list-style: none;
        display: flex;
        justify-content: center;
        // padding-top: 10%;
        // position: relative;
        // top: 15%;
        li{
            &.slick-active{
                button::before,
                button::after,
                {
                    color: $tertiary-brand-color !important;
                }
            }
            width: 25%;
            &:nth-child(1){
                button{
                    &::before{
                        @include before-navigation-button('ORIGINAL')
                    }
                }
            }
            &:nth-child(2){
                button{
                    &::before{
                        @include before-navigation-button('zero')
                    }
                }
            }
            &:nth-child(3){
                button{
                    &::before{
                        @include before-navigation-button('CAMU-CAMU');
                        top:2px;
                    }
                    &::after{
                        position: absolute;
                        content: "Nuevo";
                        text-transform: uppercase;
                        color: $fifth-brand-color;
                        font-family: Poppins,sans-serif;
                        font-style: italic;
                        font-weight: bold;
                        bottom: 20px;
                        font-size: 1.5vw;
                    }
                }
            }
            &:nth-child(4){
                button{
                    &::before{
                        @include before-navigation-button('copoAzú')
                    }
                }
            }

            button{
                border-color: transparent;
                background-image: url('../assets/details/btn_original.png'); 
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                min-width: 150px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 96px;
                color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                &:active,
                &:hover,
                &:focus,
                &:visited{
                    outline: transparent !important;
                }
            }
        }
    }
}
.el-custom-flavors-page{
    &.color-0{
        background-color: $secondary-brand-color;
    }
    &.color-1{
        background-color: $zerozero-bg-color;
    }
    &.color-2{
        background-color: $camucamu-bg-color;
    }
    &.color-3{
        background-color: $copoazu-bg-color;
    }
}

@include for-tablet-landscape-down ('.el-custom--flavors-page__main') {
    header.el-custom--flavors-page__slider-navigation{
        top: -21%;
        ul{
            display: none;
        }
    }
    .el-custom--flavors-page__sliders{
        background-position-y: -100px;
        .el-custom--flavors-page__sliders-slide{
            .el-custom--flavors-page__sliders-slide-body{
                padding-top: 37%;
                padding-bottom: 28%;
                .el-custom--flex{
                    flex-direction: column-reverse;
                    flex-wrap: wrap;
                    &.slider-body--detail-image{
                        margin-top: -10px;
                        .wrapper-image{
                            text-align: center;
                            img{
                                width: 75%;
                            }
                        }
                        .wrapper-image,
                        .description{
                            width: 100%;
                        }
                        .description{
                            text-align: center;
                            h1{
                                font-size: 5vw;
                            }
                            p{
                                font-size: 3vw;
                            }
                        }
                    }
                    &.slider-body--playlist{
                        margin-bottom: 10%;
                        .slider-body--playlist__description,
                        .slider-body--playlist__reproductor{
                            width: 100%;
                            text-align: center;
                        }
                        .slider-body--playlist__description{
                            margin-top: 20px;
                            h1{
                                font-size: 5vw;
                            }
                            p{
                                font-size: 3vw;
                            }
                            button{
                                font-size: 3vw;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include for-phone-only ('.el-custom--flavors-page__main') {
    .el-custom--flavors-page__sliders{
        background-image: url('../assets/details/fondo-sabores-mobile.png');
        background-position-y: -15%;
        background-size: cover;
        .el-custom--flavors-page__sliders-slide{
            .el-custom--flavors-page__sliders-slide-body{
                padding-top: 28%;
                .el-custom--flex.slider-body--detail-image{
                    margin-top: -30px;
                }
            }
        }
    }
}