@import '../vars/colors.scss';
@import '../common/queries.scss';
$copoazu-bg-color: #77BD1E;
$camucamu-bg-color: #FF2574;
$zerozero-bg-color: #848484;
@mixin before-navigation-button ($text) {
    content: $text;
    font-size: 30px;
    color: $fifth-brand-color;
    font-family: Poppins, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin slider-header () {
    header.el-custom--flavors-page__slider-navigation {
        &.header-0 {
            background-image: url('../assets/details/header-back-0.png');
        }
        &.header-1 {
            background-image: url('../assets/details/header-back-1.png');
        }
        &.header-2 {
            background-image: url('../assets/details/header-back-2.png');
        }
        &.header-3 {
            background-image: url('../assets/details/header-back-3.png');
        }
        transition: 0.5s all;
        justify-content: space-between;
        align-items: center;
        background-repeat: repeat-y;
        background-size: 100%;
        background-position: center;
        background-position-y: 23%;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: -221px;
    }
}

@mixin slider-page () {
    #el-custom--flavors-page__sliders {
        background-position-y: -200px;
        background-size: 100% 112%;
        background-repeat: no-repeat;
        margin-top: -5%;
        z-index: 2;
        position: relative;
        transition: 0.3s all;
        &.bg-0,
        &.bg-1 {
            background-image: url('../assets/details/bg-1.png');
        }
        &.bg-2 {
            background-image: url('../assets/details/bg-2.png');
        }
        &.bg-3 {
            background-image: url('../assets/details/bg-3.png');
        }
        .el-custom--flavors-page__sliders-slide {
            position: relative;
            .el-custom--flavors-page__sliders-slide-body {
                padding: 28% $padding-horizontal 35%;
                article {
                    justify-content: space-between;
                    align-items: center;
                }
                article.slider-body--playlist {
                    margin-top: 11%;
                    justify-content: space-between;
                    div.slider-body--playlist__description {
                        width: 33%;
                        h1,
                        p {
                            color: $fifth-brand-color;
                        }
                        h1 {
                            font-weight: bold;
                            font-size: 4vw;
                            font-style: italic;
                            font-family: 'Poppins-Bold';
                        }
                        p {
                            margin-top: 20px;
                            font-size: 2vw;
                            font-family: 'Poppins', sans-serif;
                        }
                        button,
                        a {
                            margin-top: 20px;
                            padding: 12px 8px;
                            background-color: $secondary-brand-color;
                            font-size: 2vw;
                            font-style: italic;
                            font-family: 'Poppins', sans-serif;
                            color: $fifth-brand-color;
                            i {
                                margin-left: 5px;
                            }
                        }
                    }
                    div.slider-body--playlist__reproductor {
                        iframe{
                            width: 100% !important;
                        }
                        overflow: hidden;
                        width: 50%;
                        >img {
                            width: 100%;
                        }
                    }
                }
                .description {
                    width: 50%;
                    h1,
                    p {
                        color: $fifth-brand-color;
                    }
                    h1 {
                        font-family: 'Poppins-Bold';
                        font-size: 52px;
                        font-style: italic;
                    }
                    p {
                        font-family: 'Poppins', sans-serif;
                        margin-top: 20px;
                        font-size: 25px;
                    }
                }
                .wrapper-image {
                    width: 40%;
                    >img {
                        display: inline-block;
                        position: relative;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@mixin slider-navigation () {
    .el-custom--flavors-slider--navigation {
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 5%;
        ul {
            width: 100%;
            margin: 0px;
            padding: 0px $padding-horizontal;
            list-style: none;
            display: flex;
            justify-content: center;
            li {
                &.slick-active {
                    button::before,
                    button::after {
                        color: $tertiary-brand-color !important;
                    }
                }
                width: 25%;
                &:nth-child(1) {
                    button {
                        &::before {
                            @include before-navigation-button('ORIGINAL')
                        }
                    }
                }
                &:nth-child(2) {
                    button {
                        &::before {
                            @include before-navigation-button('zero')
                        }
                    }
                }
                &:nth-child(3) {
                    button {
                        &::before {
                            @include before-navigation-button('CAMU-CAMU');
                            top: 2px;
                        }
                    }
                }
                &:nth-child(4) {
                    button {
                        &::before {
                            @include before-navigation-button('copoAzú');
                        }
                    }
                }
                display: flex;
                justify-content: center;
                &:nth-child(4),
                &:nth-child(3) {
                    &::after {
                        text-align: center;
                        position: absolute;
                        content: "Nuevo";
                        text-transform: uppercase;
                        color: $fifth-brand-color;
                        font-family: Poppins, sans-serif;
                        font-style: italic;
                        font-weight: bold;
                        bottom: 19%;
                        font-size: 18px;
                    }
                }
                button {
                    border-color: transparent;
                    background-image: url('../assets/details/btn_original.png');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: center;
                    min-width: 150px;
                    max-width: 250px;
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 96px;
                    color: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:active,
                    &:hover,
                    &:focus,
                    &:visited {
                        outline: transparent !important;
                    }
                }
            }
        }
    }
}

.el-custom--flavors-page__main {
    width: 100%;
    height: 100%;
    position: relative;
    @include slider-header();
    @include slider-navigation();
    @include slider-page();
}

.el-custom-flavors-page {
    &.color-0 {
        background-color: $secondary-brand-color;
    }
    &.color-1 {
        background-color: $zerozero-bg-color;
    }
    &.color-2 {
        background-color: $camucamu-bg-color;
    }
    &.color-3 {
        background-color: $copoazu-bg-color;
    }
}

@include for-desktop-up('.el-custom--flavors-page__main') {
    header.el-custom--flavors-page__slider-navigation {
        background-position-y: inherit;
    }
    .el-custom--flavors-slider--navigation {
        top: 7%;
    }
    #el-custom--flavors-page__sliders {
        &:not(.bg-2) {
            background-position-y: 130%;
        }
        &.bg-2 {
            background-position-y: 105%;
        }
        .el-custom--flavors-page__sliders-slide {
            .el-custom--flavors-page__sliders-slide-body {
                padding-top: 15%;
                .el-custom--flex.slider-body--detail-image {
                    padding-top: 10%;
                }
            }
        }
    }
}

@include for-tablet-landscape-only('.el-custom--flavors-page__main') {
    .el-custom--flavors-slider--navigation {
        top: 5.5%;
        ul.slick-dots {
            li {
                button {
                    &::before {
                        font-size: 2.2vw;
                    }
                }
                &:nth-child(3),
                &:nth-child(4) {
                    button {
                        &::before {
                            margin-top: -15px;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        &::after {
                            bottom: 23%;
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-landscape-down ('.el-custom--flavors-page__main') {
    .el-custom--flavors-slider--navigation {
        ul.slick-dots {
            display: none;
        }
        width: 100%;
        top: 12%;
        height: 30%;
        display: flex;
        justify-content: space-between;
        button {
            border: 1px solid transparent;
            width: 80px;
            color: transparent;
            font-size: 1px;
            &[aria-disabled="true"] {
                &::before {
                    color: $zerozero-bg-color !important;
                }
            }
            &.slick-prev.slick-arrow {
                margin-right: 5%;
                &::before {
                    font-size: 50px;
                    color: $fifth-brand-color;
                    content: "\e900";
                    font-family: icon!important;
                }
            }
            &.slick-next.slick-arrow {
                margin-left: 5%;
                &::before {
                    font-size: 50px;
                    color: $fifth-brand-color;
                    content: "\e901";
                    font-family: icon!important;
                }
            }
            &:hover,
            &:focus,
            &:active {
                outline: 0;
                outline-color: transparent !important;
            }
        }
    }
    header.el-custom--flavors-page__slider-navigation {
        top: -18%;
    }
    #el-custom--flavors-page__sliders {
        &[class*="bg"] {
            background-image: url('../assets/details/fondo-sabores-mobile.png') !important;
            background-position-y: 100px;
        }
        .el-custom--flavors-page__sliders-slide {
            .el-custom--flavors-page__sliders-slide-body {
                padding-top: 37%;
                padding-bottom: 28%;
                .el-custom--flex {
                    flex-direction: column-reverse;
                    flex-wrap: wrap;
                    &.slider-body--detail-image {
                        margin-top: -10px;
                        .wrapper-image {
                            text-align: center;
                            img {
                                width: 75%;
                            }
                        }
                        .wrapper-image,
                        .description {
                            width: 100%;
                        }
                        .description {
                            text-align: center;
                            h1 {
                                font-size: 25px;
                            }
                            p {
                                font-size: 15px;
                                line-height: 1.3;
                            }
                        }
                    }
                    &.slider-body--playlist {
                        margin-bottom: 10%;
                        .slider-body--playlist__description,
                        .slider-body--playlist__reproductor {
                            width: 100%;
                            text-align: center;
                        }
                        .slider-body--playlist__description {
                            margin-top: 40px;
                            h1 {
                                font-size: 25px;
                            }
                            p {
                                font-size: 14px;
                                line-height: 1.5;
                            }
                            button {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include for-phone-only ('.el-custom--flavors-page__main') {
    header.el-custom--flavors-page__slider-navigation {
        top: -20%;
    }
    .el-custom--flavors-slider--navigation{
        height: 25%;
    }
    #el-custom--flavors-page__sliders {
        background-image: url('../assets/details/fondo-sabores-mobile.png');
        background-position-y: 40px !important;
        background-size: cover;
        .el-custom--flavors-page__sliders-slide {
            .el-custom--flavors-page__sliders-slide-body {
                .el-custom--flex.slider-body--detail-image {
                    margin-top: -30px;
                }
            }
        }
    }
}

@include for-phone-small ('.el-custom--flavors-page__main') {
    .el-custom--flavors-slider--navigation {
        top: 10%;
        height: 22%;
        button {
            &.slick-prev.slick-arrow,
            &.slick-next.slick-arrow {
                &::before {
                    font-size: 40px;
                }
            }
        }
    }
}

@include for-big-desktop-middle ('.el-custom--flavors-page__main') {
    #el-custom--flavors-page__sliders{
        // background-size: 100% 100% !important;
        // &::after{
        //     content: "";
        //     position: absolute;
        //     width: 100%;
        //     height: 500px;
        //     background-color: red;
        //     bottom: 0px;
        // }
    }
}