$primary-brand-color: #CEAB52;
$secondary-brand-color: #FFF;
$tertiary-brand-color: #181818;
$fourty-brand-color: #6D4200;
$fifth-brand-color: #000;
$sixth-brand-color: #656565;
$seventh-brand-color: #E5E5E5;
$eight-brand-color: #B6B6B6;
$nineth-brand-color: #A3A3A3;