@font-face {
    font-family: 'Bodoni-regular';
    src: url('../assets/fonts/BodoniRegular.otf');
}

@font-face {
    font-family: 'Bodoni-bold';
    src: url('../assets/fonts/bodoni-bold_.ttf');
}

@font-face {
    font-family: 'Bodoni-XT';
    src: url('../assets/fonts/BodoniXT.ttf');
}

@font-face {
    font-family: 'Futura-bold';
    src: url('../assets/fonts/FuturaBold.ttf');
}

@font-face {
    font-family: 'Futura-book';
    src: url('../assets/fonts/FuturaBook.ttf');
}

@font-face {
    font-family: 'Futura-medium';
    src: url('../assets/fonts/FuturaMediumCondensed.ttf');
}

@font-face {
    font-family: 'HelveticaNeue-Condensed';
    src: url('../assets/fonts/HelveticaNeue-Condensed.ttf');
}