@import './vars/colors.scss';
@import './common/queries.scss';
.abi--internal-section.page-404 {
    background-image: url('../assets/404-background.png');
    background-position: center;
    background-size: cover;
    background-position: center top;
    @include media-xs-range-2 {
        background-image: url('../assets/404-background-mobile.png');
    }
}

.abi--404-section__box {
    background-color: rgba($color: #0C284C, $alpha: 0.6);
    backdrop-filter: blur(2px);
    padding: 30px;
    .abi--404-section__box-header {
        max-width: 265px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .abi--404-section__box-header--title {
            color: $secondary-brand-color;
            line-height: 1;
            font: {
                family: 'Helvetica';
                size: 34px;
                weight: bold;
            }
            @include media-xs-range-2 {
                font-size: 28px;
            }
        }
        .abi--404-section__box-header--subtitle {
            width: max-content;
            margin: 10px 0px 10px;
            color: $secondary-brand-color;
            text-transform: uppercase;
            font: {
                size: 38px;
                weight: 400;
                family: 'Helvetica';
            }
            // @include media-xs-range-1 {
            //     visibility: hidden;
            // }
        }
    }
    .el-custom--button.goHome_404 {
        display: flex;
        background-color: $twelve-brand-color;
        color: $secondary-brand-color;
        // width: 194px;
        height: 49px;
        margin: 0px auto;
        font: {
            size: 16px;
            weight: 900;
            family: 'Helvetica';
        }
        @include media-xs-range-2 {
            font-size: 18px;
        }
    }
}