@import './common/input.scss';
@import './common/buttons.scss';
@import './vars/colors.scss';
@mixin login-admin {
    #block-mainpagecontent,
    .el-custom--main {
        &:not(.el-custom--main) {
            display: flex;
            justify-content: center;
            padding: 30px 10px;
        }
        form {
            padding: 0px 28.5px;
            max-width: 700px;
            margin: 0px auto;
            margin-bottom: 40px;
            div.js-form-item {
                margin-bottom: 10px;
                label {
                    font-size: 15px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-right: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                input {
                    @extend .el-custom--input;
                }
                .description {
                    font-size: 12px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .form-actions {
                margin-top: 20px;
                input[type="submit"] {
                    background-color: $tertiary-brand-color;
                    color: $fourtiary-brand-color;
                    background-color: red;
                    color: #fff;
                    padding: 10px 25px;
                    width: 100%;
                    font-weight: bold;
                    @extend .el-custom--button;
                }
            }
        }
    }
}

#drupal-live-announce {
    display: none;
}

body.user-login {
    .el-custom--header {
        padding-bottom: 25px;
    }
    .el-custom--footer {
        margin-top: 0px !important;
        z-index: auto !important;
    }
    #block-footer-menu {
        display: none;
    }
    @include login-admin();
}
div#onetrust-banner-sdk * {
    font-family:Roboto,sans-serif !important;
}