@import './vars/colors.scss';
@import './common/queries.scss';
@mixin cristal-details {
    .el-custom--details--body {
        article.el-custom--details--body-product-details {
            .el--custom__title {
                color: $secondary-brand-color;
                font-family: 'ResotE-Lavender';
                font-weight: 100;
            }
            .el--custom__description {
                color: $fourtiary-brand-color;
            }
            .el-custom--details--body-product-details-nutritional {
                h5 {
                    color: $secondary-brand-color;
                    font-family: 'ResotE-Lavender';
                }
                ul {
                    li {
                        color: $fourtiary-brand-color;
                    }
                }
            }
        }
    }
}

.el-custom--details {
    width: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: $fourtiary-brand-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.reload {
        .el-custom--details--body {
            opacity: 1;
        }
    }
    &:not(.reload) {
        .el-custom--details--body {
            opacity: 0;
        }
    }
    &:not(.cristal),
    &.bicolor {
        border-top: 12px solid $nineth-brand-color;
        background-image: url('../assets/details/bicolor/bg-details-desktop.png');
        max-height: 447px;
        height: 35vw;
        &::before {
            border-bottom: 24px solid $nineth-brand-color;
        }
        .el-custom--details--body{
            // border: 3px solid black;
            article{
                .el--custom__title {
                    color: $sixth-brand-color;
                    font-size: 32px;
                    font-family: 'Matthan-sans-regular';
                    font-weight: 100;
                }
            }
        }
    }
    &.cristal {
        border-top: 12px solid $seventh-brand-color;
        background-image: url('../assets/details/bg-details-cristal.png');
        max-height: 530px;
        height: 38vw;
        @include cristal-details;
         ::before {
            border-bottom-color: $seventh-brand-color !important;
        }
    }
   .details--marker {
        position: absolute;
        transition: 0.5s all;
        border-left: 24px solid transparent;
        border-right: 24px solid transparent;
        border-bottom: 24px solid $nineth-brand-color;
        position: absolute;
        top: -24px;
    }
    .el-custom--details--body {
        transition: 1s all;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1151px;
        width: 75%;
        .el-custom--details--body-wrapper-image {
            display: inline-block;
            cursor: pointer;
            img {
                width: 290px;
                height: 290px;
            }
        }
        article {
            margin-top: 40px;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            flex-direction: column;
            max-height: 232px;
            .el--custom__title {
                text-transform: uppercase;
                // font-size: 32px;
                // color: $nineth-brand-color;
                // font-family: 'Matthan-sans-regular';
                // font-weight: 100;
                margin-bottom: 15px;
            }
            .el--custom__description {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                color: $fourtiary-brand-color;
                font-size: 16px;
            }
            .el-custom--details--body-product-details-nutritional {
                display: none;
                h5 {
                    color: $nineth-brand-color;
                    font-size: 16px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    margin-bottom: 22px;
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    li {
                        width: 32px;
                        height: 58px;
                        margin-right: 32px;
                        text-align: center;
                        span {
                            display: block;
                            font-family: 'Roboto', sans-serif;
                            &:last-child {
                                font-size: 16px;
                                font-weight: 700;
                            }
                            &:first-child {
                                font-weight: 700;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-landscape-only ('.el-custom--details') {
    .el-custom--details--body {
        width: 78%;
        .el-custom--details--body-wrapper-image {
            img {
                width: 270px;
                height: 270px;
            }
        }
    }
}

@include for-tablet-landscape-down ('.el-custom--details') {
    background-size: 133%;
    .el-custom--details--body {
        max-width: 1151px;
        width: 85%;
        justify-content: space-between;
        .el-custom--details--body-wrapper-image {
            display: flex;
            justify-content: center;
            img {
                margin: auto;
                width: 27.3vw;
                height: 27.3vw;
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 730px) {
    .el-custom--details {
        background-size: 150%;
        .el-custom--details--body {
            max-width: 1151px;
            width: 97%;
            justify-content: space-between;
            .el-custom--details--body-wrapper-image {
                display: flex;
                justify-content: center;
                img {
                    margin: auto;
                    width: 30vw;
                    height: 30vw;
                }
            }
            article {
                width: 64%;
            }
        }
    }
}

@include for-phone-only('.el-custom--details') {
    align-items: stretch;
    &.cristal,
    &:not(.cristal) {
        height: 152vw !important;
        max-height: 152vw !important;
        max-height: unset !important;
    }
    background-size: contain;
    &:not(.cristal),
    &.bicolor {
        background-image: url('../assets/details/bicolor/bg-details-mobile.png') !important;
        background-size: cover;
    }
    &.cristal {
        background-image: url('../assets/details/bg-details-cristal-mobile.svg') !important;
        background-size: cover;
    }
    .el-custom--details--body {
        .el-custom--details--body-wrapper-image {
            width: 100%;
            img {
                width: 65vw;
                height: 65vw;
            }
        }
        .el-custom--details--body-product-details {
            width: 100%;
            display: unset;
            margin-top: 0px;
            .el--custom__title {
                text-align: center;
                font-size: 32px;
            }
            .el--custom__description {
                padding-top: 15px;
                font-size: 16px;
                text-align: center;
            }
            .el-custom--details--body-product-details-nutritional {
                padding-top: 20px;
                text-align: center;
            }
        }
    }
}

@include for-phone-small ('.el-custom--details') {
    .el-custom--details--body {
        .el-custom--details--body-product-details {
            .el--custom__title {
                font-size: 8.5vw;
            }
            .el--custom__description {
                font-size: 4.5vw;
            }
            .el-custom--details--body-product-details-nutritional {
                padding-top: 20px;
                h5 {
                    font-size: 5vw;
                }
                ul {
                    li {
                        width: 15vw;
                        height: 15vw;
                        margin-right: 8%;
                        span {
                            &:first-child {
                                font-size: 5.5vw;
                            }
                            &:last-child {
                                font-size: 5vw;
                            }
                        }
                    }
                }
            }
        }
    }
}