@import './vars/colors.scss';
@import './common/queries.scss';
@mixin flavors-card {
    section.el-custom--flavors-card{
        .slick-list.draggable{
            // border: 1px dashed red;
            // width: 100%;
            // .slick-track{
            //     width: 100% !important;
            //     .flavors--card.slick-slide{
            //         width: 25% !important;
            //     }
            // }
        }
        display: flex;
        .flavors--card{
            max-width: 25%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            // &:first-child{
            //     border: 1px solid red;
            // }
            .flavors--card__image{
                margin: 0px 10px;
                width: 100%;
                background-image: url('../assets/sabores/circulo1.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
                text-align: center;
                display: flex;
                justify-content: center;
                img.img-flavor{
                    width: 75%;
                    margin-bottom: 20%;
                }
            }
            .flavors--card__description{
                text-align: center;
                h3 {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    font-family: Poppins,sans-serif;
                    color: $fourtiary-brand-color;
                    text-transform: uppercase;
                    font-size: 2.5vw;
                }
                .el-custom--button{
                    text-transform: uppercase;
                    padding: 10px 20px;
                    font-size: 1.8vw;
                    font-family: Poppins,sans-serif;
                    font-weight: 700;
                    color: $fifth-brand-color;
                    font-style: italic;
                    background-color: $secondary-brand-color;
                }
            }
        }
    }
}
@include for-tablet-portrait-up ('.el-custom--banner-tagimage article.el-custom--flavors-wrapper') {
    section.el-custom--flavors-card{
        .slick-list.draggable{
            width: 100% !important;
            .slick-track{
                width: 100% !important;
                .flavors--card.slick-slide{
                    width: 25% !important;
                }
            }
        }
    }
}