@import './vars/colors.scss';
@import 'flavors_cards.scss';
@import 'flavors_headers.scss';
.el-custom--banner-tagimage{
    // border: 3px dashed darkcyan;
    position: relative;
    img{
        margin-top: -22%;
    }
    article.el-custom--flavors-wrapper{
        width: 100%;
        position: absolute;
        top: 25%;
        padding: 0px $padding-horizontal;
        @include header_flavor;
        @include flavors-card;
    }
}