@import './vars/colors.scss';
@import './common/queries.scss';
@mixin flavors-card {
    section.el-custom--flavors-card{
        display: flex;
        pointer-events: auto;
        .slick-list.draggable{
            .slick-track{
                height: 100%;
            }
        }
        a{
            text-decoration: none !important;
            &:active,
            &:focus,
            &:hover,
            &:visited
            {
                outline: 0;
                outline-color: transparent !important;
            }
        }
        .flavors--card{
            height: 100%;
            max-width: 25%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .flavors--card__image{
                margin: 0px 10px;
                width: 100%;
                background-image: url('../assets/sabores/circulo1.png');
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;
                text-align: center;
                display: flex;
                justify-content: center;
                img.img-flavor{
                    // width: 75%; //quitar este en safari para probar
                    width: 55%;
                    height: 100%;
                    margin-bottom: 20%;
                    object-fit: cover;
                }
            }
            .flavors--card__description{
                text-align: center;
                width: 100%;
                h3 {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    font-family: Poppins,sans-serif;
                    color: $fourtiary-brand-color;
                    text-transform: uppercase;
                    font-size: 35px;
                    font-style: italic;
                }
                .el-custom--button{
                    text-transform: uppercase;
                    padding: 10px 20px;
                    font-size: 24px;
                    font-family: Poppins,sans-serif;
                    // font-weight: 700;
                    color: $fifth-brand-color;
                    font-style: italic;
                    background-color: $secondary-brand-color;
                    width: 90%;
                    max-width: 351px;
                    min-width: 211px;
                    height: 41px;
                }
            }
        }
    }
}
@include for-tablet-portrait-up ('.el-custom--banner-tagimage article.el-custom--flavors-wrapper') {
    section.el-custom--flavors-card{
        .slick-list.draggable{
            width: 100% !important;
            .slick-track{
                width: 100% !important;
                .flavors--card.slick-slide{
                    width: 25% !important;
                }
            }
        }
    }
}

// @media (min-width: 901px) and (max-width: 980px){
//     .el-custom--banner-tagimage, .el-custom--banner-sku{
//         article.el-custom--flavors-wrapper{
//             section.el-custom--flavors-card{
//                 .flavors--card__description{
//                     .el-custom--button{
//                         width: 100% !important;
//                     }
//                 }
//             }
//         }
//     }
// }