@font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/HelveticaNeue.ttc');
}

@font-face {
    font-family: 'CoronaHeadline-SemiBold';
    src: url('../assets/fonts/CoronaHeadline-SemiBold.otf');
}