@font-face {
    font-family: 'HelveticaNeueMd';
    src: url('../assets/fonts/HelveticaNeueLTStd-Md.otf');
}

@font-face {
    font-family: 'HelveticaNeueRoman';
    src: url('../assets/fonts/HelveticaNeueLTStd-Roman.otf');
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('../assets/fonts/HelveticaNeueLTStd-Cn.otf');
}

@font-face {
    font-family: 'HelveticaNeueLTStd-LtCn'; //this
    src: url('../assets/fonts/HelveticaNeueLTStd-LtCn.otf');
}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('../assets/fonts/HelveticaNeueLTStd-MdCn.otf');
}

@font-face {
    font-family: 'HelveticaNeueLTStd-ThCn';
    src: url('../assets/fonts/HelveticaNeueLTStd-ThCn.otf');
}

@font-face {
    font-family: 'CoronaHeadline-SemiBold';
    src: url('../assets/fonts/CoronaHeadline-SemiBold.otf');
}