@import './vars/colors.scss';
@import './common/queries.scss';
.el-custom--footer{
    padding: 0px $padding-horizontal;
    position: relative;
    z-index: 3;
    background-color: white;
    margin-top: -13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    &::before{
        content: "";
        /* background-color: red; */
        background-image: url(../assets/home/footer.png);
        background-position-x: center;
        background-position-y: 14%;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 100%;
        height: 54%;
        z-index: -1;
        top: -45%
    }
    .el-custom--footer-right-section{
        width: 100%;
        padding-bottom: 35px;
        .el-custom--footer-social{
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 30px;
                color: $primary-brand-color;
                margin: 0px 3px;
            }
        }
    }
    .el-custom--footer-nav{
        width: 100%;
        ul {
            margin: 0px !important;
            padding: 0px !important;
            display: flex;
            justify-content: space-evenly;
            li {
                list-style: none;
                a{
                    color: black;
                    font-size: 0.7rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: Poppins,sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
    .el-custom--footer-legal{
        width: 100%;
        padding: 80px 10px 70px;
        text-align: center;
        font-size: 0.8rem;
        background-color: $fourtiary-brand-color;
    }
}

figure.el-custom--logo{
    text-align: center;
    padding-bottom: 30px;
    img{
        width: 210px;
    }
}


//Media queries
@include for-tablet-landscape-down('.el-custom--footer') {
    padding: 35px $padding-horizontal / 2 0px;
    .el-custom--footer-right-section{
        width: 30%;
        .el-custom--logo{
            margin-top: -18px;
            padding-bottom: 10px;
            img{
                width: 100px;
            }
        }
        .el-custom--footer-social{
            i {
                font-size: 3vw;
            }
        }
    }
    .el-custom--footer-nav{
        width: 70%;
        ul {
            flex-wrap: wrap;
            li{
                width: 100%;
                a {
                    font-weight: 700 !important;
                    font-size: 1.5vw;
                }
                margin-bottom: 2px;
            }
        }
    }
    .el-custom--footer-legal{
        padding: 25px 0;
    }
}

@include for-phone-only ('.el-custom--footer') {
    padding-top: 15px;
    .el-custom--footer-right-section{
        width: 40%;
        .el-custom--logo{
            img{
                width: 60%;
            }
        }
        .el-custom--footer-social{
            i{
                font-size: 4vw;
            }
        }
    }
    .el-custom--footer-nav{
        width: 60%;
        ul {
            li{
                margin-bottom: 2.4%;
                a {
                    font-size: 2vw;
                    display: inherit;
                }
            }
        }
    }
}