@import './vars/colors.scss';
@import './common/queries.scss';
$height_input: 33px; // using in selects as well
$background_input: $secondary-brand-color;
$border_input: 1px solid rgba(black, 0.4);
$family_input: 'Roboto',
sans-serif;
$radius_input: 6px;
$size_text_input: 14px;
//
$error_family: 'Roboto',
sans-serif;
.abi--main-wrapper {
    display: flex;
}

.abi--brand-wrapper-form--lateral-tessellation {
    width: 50%;
    // height: 100%;
    background-color: red;
    background-image: url("../assets/form-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

textarea.el-custom--input {
    margin-top: 10px;
    padding: 8px 10px;
    width: 100%;
    max-height: 111px;
    min-height: 111px;
    height: 111px;
    font-family: $family_input;
    font-size: $size_text_input;
    border: $border_input;
    border-radius: $radius_input;
    resize: none;
    &:hover,
    &:focus,
    &:active {
        outline: 0;
        outline-color: transparent !important;
    }
    &::placeholder {
        color: rgba($fourty-brand-color, 0.7) !important;
    }
}

// Estilos para todos los inputs
.abi-input--custom {
    caret-color: $fourty-brand-color;
    border-radius: $radius_input;
    height: $height_input;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    border: $border_input;
    background-color: $background_input;
    color: $primary-brand-color;
    transition: 0.3s all;
    font-family: $family_input;
    font-size: $size_text_input;
    &:focus,
    &:active {
        outline: 0;
        outline-color: transparent !important;
        outline-width: 0 !important;
    }
    &::placeholder {
        color: rgba($fourty-brand-color, 0.7) !important;
    }
    &[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }
    &[type="number"] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield;
    }
}

.form-error {
    margin-top: 5px;
    color: red;
    font-size: 13px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    &::first-letter {
        text-transform: uppercase;
    }
}

.abi--brand-wrapper-form {
    background-color: $primary-brand-color;
    // margin: 0px auto;
    margin-top: -5px;
    margin-bottom: 60px;
    height: max-content;
    max-width: 770px;
    padding: 50px 40px 40px;
    // border-radius: 15px;
}

.abi--brand-wrapper-form--header {
    .abi--brand-wrapper-form--header-title {
        line-height: 1;
        text-align: center;
        color: $secondary-brand-color;
        font: {
            family: 'Roboto', sans-serif;
            weight: 400;
            size: 40px;
        }
        @include media-xs-range-1 {
            font-size: 43px;
        }
    }
    .abi--brand-wrapper-form--header-subtitle {
        // border: 1px solid red;
        width: 100%;
        max-width: 612px;
        margin: 20px auto;
        text-align: center;
        line-height: 1.1;
        color: $secondary-brand-color;
        font: {
            weight: 400;
            size: 20px;
            family: 'Roboto', sans-serif;
        }
        @include media-xs-range-1 {
            font-size: 21px;
        }
        span.breakword {
            margin-top: 25px;
            display: block;
            @include media-xs-range-1 {
                display: inline;
            }
        }
    }
}

@mixin block-terms() {
    .el-custom--block-terms {
        margin: 30px 0px 10px;
        .block-term {
            max-width: 390px;
            margin: 0px auto;
            margin-bottom: 10px;
            .js-form-item {
                position: relative;
                margin-bottom: 6px;
                display: flex;
                align-items: center;
                div.js-form-item {
                    width: 100%;
                    // border: 1px solid blue;
                    flex-wrap: wrap;
                    flex-direction: column-reverse;
                    label:not(.error) {
                        margin-left: 10px;
                        @include media-xs {
                            margin-left: 30px;
                        }
                    }
                }
                .form-check-label {
                    align-items: center;
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    color: $secondary-brand-color;
                    margin-top: 3px;
                    margin-left: 20px;
                    @include media-xs-range-1 {
                        font-size: 12px;
                    }
                }
                a {
                    margin: 0px 4px;
                    text-decoration: underline !important;
                    color: $secondary-brand-color;
                }
                label.error {
                    @extend .form-error;
                }
            }
        }
    }
}

@mixin form-actions {
    .form-actions {
        margin-top: 20px;
        text-align: center;
        button.el-custom--button,
        input.el-custom--button {
            font-family: 'Roboto', sans-serif;
            background-color: $tertiary-brand-color;
            color: $secondary-brand-color;
            font-size: 16px;
            font-weight: 500;
            max-width: 125px;
            width: 100%;
            padding: 15px 10px;
            text-transform: inherit;
        }
    }
}

@mixin nice-select-for-drupal {
    // .nice-select {
    //     @include nice-select-for-drupal;
    //     // width: 100%;
    //     border-radius: 0px;
    //     border: 1px solid transparent;
    //     border-bottom: 1px solid $primary-brand-color;
    //     height: 46.4px;
    //     padding: 0px;
    //     * {
    //         @extend .apply-to-form-inputs;
    //     }
    //     span.current {
    //         font-weight: bolder;
    //         color: rgba(#454D58, 0.5);
    //         font-size: 14px;
    //         height: 100%;
    //         display: block;
    //         display: flex;
    //         align-items: center;
    //     }
    //     ul {
    //         width: 100%;
    //         border-radius: 0px;
    //         max-height: 200px;
    //         overflow: scroll;
    //     }
    // }
    -webkit-tap-highlight-color: transparent;
    background-color: transparent !important;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 32px !important;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

@mixin form-select {
    select {
        font-family: $family_input;
        border-radius: $radius_input;
        border: $border_input;
        background-color: $background_input;
        background-image: url("../assets/icons/select-arrow.svg");
        background-repeat: no-repeat, repeat !important;
        background-position: right .7em top 50%, 0 0 !important;
        background-size: .85em auto, 100% !important;
        height: $height_input;
        width: 100%;
        margin-top: 10px !important;
        padding: 5px 0px;
        padding-left: 13px;
        font-size: $size_text_input;
        font-weight: 500;
        transition: 0.2s all;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: rgba($primary-brand-color, 1);
        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
            outline: 0;
            outline-color: transparent !important;
            // border-bottom: 1px solid #008F4F !important;
        }
        optgroup {
            font-size: 40px;
        }
        option {
            font-size: 14px;
            padding: 5px;
            color: $tertiary-brand-color;
            background: rgba($primary-brand-color, 0.28);
        }
    }
}

@mixin form-item {
    .js-form-item {
        div.js-form-item {
            width: 100%;
        }
        border: 0px solid transparent !important;
        &:not(.form-item-birthday) {
            flex-direction: column;
        }
        @include form-select();
        // &:not(.form-full) {
        //     width: 48.8%;
        // }
        // &.form-full {
        //     width: 100%;
        // }
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0px;
        padding: 0px !important;
        &.form-item-birthday {
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            // border: 0px solid transparent !important;
            fieldset {
                margin: 0px;
                margin-top: 10px !important;
                padding: 0px !important;
                border: 0px solid transparent !important;
                input,
                select {
                    margin-top: 0px !important;
                    @extend .abi-input--custom;
                    width: 100%;
                }
            }
            fieldset {
                width: 30%;
            }
        }
        label {
            &.error {
                @extend .form-error;
            }
            &:not(.error) {
                text-transform: lowercase;
                &::first-letter {
                    text-transform: uppercase;
                }
                height: fit-content;
                width: 100%;
                color: $secondary-brand-color;
                font: {
                    size: 16px;
                    weight: 500;
                    family: 'Roboto', sans-serif;
                }
            }
        }
        input:not(.form-checkbox) {
            @extend .abi-input--custom;
        }
        @include media-xs-range-1 {
            width: 100% !important;
            margin-bottom: 10px !important;
        }
    }
}

article.el-custom--register-page__form {
    width: 100%;
    padding: 20px 30px;
}

.el-custom-abi-register-form {
    // border: 1px solid red;
    width: 100%;
    max-width: 425px;
    margin: 20px auto 0px;
    // margin-top: 20px;
    .block-form-group {
        display: flex;
        margin-top: 8px;
        justify-content: space-between;
        @include form-item();
        @include media-xs-range-1 {
            flex-wrap: wrap;
        }
    }
    @include block-terms();
    @include form-actions();
}