@import './vars/colors.scss';
@import './common/queries.scss';
.abi--doblemalta-wrapper-generation {
    // background-image: url("../assets/bases/generation-base.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    background-color: $fifth-brand-color;
    width: 100%;
    height: 61vw;
    @include media-xs-range-1 {
        // background-image: url("../assets/bases/generation-base-mobile.png");
        height: 132.7vw;
    }
    .abi--doblemalta-wrapper-generation__title {
        text-align: center;
        color: $primary-brand-color;
        top: 3vw;
        position: relative;
        font: {
            family: 'Bodoni-regular';
            size: 3.5vw;
        }
        @include media-xs-range-1 {
            width: 100%;
            font-size: 7vw;
            margin: 0px auto;
            padding: 0px 5vw;
            top: 9vw;
            line-height: 0.99;
        }
    }
    .abi--doblemalta-wrapper-generation__description {
        width: 38vw;
        margin: 0px auto;
        color: $eight-brand-color;
        text-align: center;
        margin-top: 5.3vw;
        font-weight: 400;
        font: {
            size: 1.8vw;
            family: 'Futura-medium';
        }
        @include media-xs-range-1 {
            margin-top: 19vw;
            font-size: 15px;
            line-height: 1.37;
            width: 90%;
        }
    }
    .abi--doblemalta-wrapper-generation__wrapper-video {
        top: 3.5vw;
        width: 74vw;
        height: 33vw;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red !important;
        @include media-xs-range-1 {
            width: 100%;
            height: 46.8vw;
            margin-top: 9.6vw;
        }
        iframe,
        .abi--doblemalta-wrapper-generation__video-thumbnail {
            width: 100%;
            height: 100%;
        }
        .video-play {
            position: absolute;
            z-index: 2;
            background-image: url("../assets/icons/play-gold.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 5.5vw;
            height: 5.5vw;
            border-radius: 50%;
            display: block;
            // margin-top: -5vw;
            @include media-xs-range-1 {
                background-image: url("../assets/icons/play.svg");
                width: 20.5vw;
                height: 20.5vw;
                margin-top: unset;
            }
        }
        .abi--doblemalta-wrapper-generation__video-thumbnail {
            transition: 0.4s all;
            position: absolute;
            top: 0px;
            text-align: center;
            overflow: hidden;
            img {
                width: 101%;
            }
            &.active {
                opacity: 0;
                z-index: -1;
                +.video-play {
                    display: none;
                }
                +iframe {
                    z-index: 2 !important;
                }
            }
        }
    }
    .abi--doblemalta-wrapper-generation__social-links {
        display: none;
        background-color: $primary-brand-color;
        .abi--doblemalta-wrapper-generation__social-links--title {
            text-align: center;
            color: $fifth-brand-color;
            // margin-top: 17vw;
            font-size: 4vw;
            font: {
                family: 'HelveticaNeue-Condensed';
                weight: 400;
            }
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0px auto;
            width: 100%;
            padding: 0px;
            margin-top: 5vw;
            li {
                margin: 0px 8px;
                &,
                *,
                .social-icon {
                    text-decoration: none !important;
                }
                .social-icon {
                    display: block;
                    width: 5vw;
                    height: 5vw;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    &.download {
                        background-image: url("../assets/icons/social/download.svg");
                    }
                    &.facebook {
                        background-image: url("../assets/icons/social/facebook.svg");
                    }
                    &.instagram {
                        background-image: url("../assets/icons/social/instagram.svg");
                    }
                    &.twitter {
                        background-image: url("../assets/icons/social/twitter.svg");
                    }
                }
            }
        }
        @include media-xs-range-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 3.5vw;
            height: 30vw;
        }
    }
}