@import './vars/colors.scss';
@import './common/queries.scss';
.abi--main-main-header {
    background-color: $primary-brand-color;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    z-index: 4;
    padding: 0px 40px;
    // position: fixed;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 72px;
    overflow: visible;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px rgba($fourty-brand-color, 0.6);
    // background-image: url('../assets/header-background.png');
    // background-position-x: right;
    // background-position-y: 32px;
    // background-repeat: no-repeat;
    .abi--main-main-header-contain {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media-sm {
            justify-content: space-between;
        }
    }
    @include media-sm {
        // background-image: url('../assets/header-background-mobile.png');
        // background-position-y: bottom;
        // background-size: 90%;
        // position: fixed;
        padding: 0px 15px;
    }
    >a {
        display: block;
        width: 130px;
    }
}

.el-custom--button.open-drawer {
    display: none;
    i {
        color: $secondary-brand-color;
        font-size: 30px;
    }
    @include media-sm {
        display: block;
    }
}

.close-drawer {
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/close-drawer.svg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    @include media-sm {
        display: block;
    }
}

.abi--main-main-header-logo {
    position: absolute;
    left: 0px;
    z-index: 1;
    img {
        width: 96px;
        height: 51px;
        width: 100%;
    }
    @include media-sm {
        position: unset;
        left: unset;
    }
}

.abi-ul {
    margin: 0px;
    padding: 0px;
    li {
        list-style: none;
    }
}

.abi--main-navigation,
.abi--social {
    display: flex;
    align-items: center;
    ul.abi--social-menu,
    ul.abi--main-menu {
        display: flex;
        li {
            a {
                color: $secondary-brand-color;
                text-decoration: none;
            }
        }
    }
}

.abi--main-navigation {
    // background-color: $secondary-brand-color;
    margin-left: 5vw !important;
    width: auto;
    ul.abi--main-menu {
        width: 100%;
        justify-content: space-between;
        li.abi--main-menu-item {
            position: relative;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            margin: 20px;
            transition: 0.6s all;
            a {
                color: $secondary-brand-color;
                font: {
                    size: 16px;
                    weight: bold;
                    family: 'Helvetica';
                }
                @include media-sm {
                    font-size: 20px;
                    width: 100%;
                    line-height: 1;
                    padding: 0px 20px;
                    color: $secondary-brand-color;
                }
            }
            &.active {
                font-weight: bold;
                @include media-sm {
                    a {
                        color: $secondary-brand-color;
                    }
                }
            }
            @include media-sm {
                transform: translateX(-100%);
                width: 100%;
                min-height: 20px;
                justify-content: unset;
                // border-bottom: 2px solid #686868;
                align-items: center;
                opacity: 0;
            }
            &.active>a {
                text-decoration: underline;
            }
        }
        @include media-sm {
            margin-top: 20px;
            flex-wrap: wrap;
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .logo-mobile {
        display: none;
        width: 137px;
        height: 85;
        margin: 0px auto;
        img {
            width: 100%;
        }
        @include media-sm {
            display: block;
        }
    }
    @include media-sm {
        transform: translateX(-100%);
        background-color: rgb(1, 93, 186);
        // background: linear-gradient( 180deg, rgba(1, 93, 186, 1) 0%, rgba(28, 110, 193, 1) 52%, rgba(255, 255, 255, 1) 83%);
        // display: none;
        padding: 20px 0px;
        position: fixed;
        width: 100%;
        left: 0px;
        top: 0px;
        margin-left: 0px !important;
        height: 100%;
        z-index: 4;
        flex-wrap: wrap;
        opacity: 0;
        transition: 0.3s all;
        pointer-events: none;
        &.active {
            pointer-events: all;
            display: flex;
            transform: translateX(0%);
            opacity: 1;
            &~.abi--social {
                pointer-events: all;
                // display: flex !important;
                opacity: 1;
                transform: scale(1);
                transition: 0.9s all;
            }
            ul.abi--main-menu {
                // width: 100%;
                //   justify-content: space-between;
                li.abi--main-menu-item {
                    transform: translateX(0%);
                    opacity: 1 !important;
                }
            }
            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }
        &~.abi--social {
            pointer-events: none;
        }
        // &::after {
        //     opacity: 0;
        //     position: absolute;
        //     bottom: -20px;
        //     content: "";
        //     width: 100%;
        //     height: 38vw;
        //     background-image: url("../assets/drawer/drawer-mountains.svg");
        //     background-position: center;
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     transition: 0.9s all;
        //     transform: scale(1.5);
        //     @include media-xs-small {
        //         height: 72vw;
        //     }
        // }
    }
    // @include media-xs {
    //     background: linear-gradient( 180deg, rgba(1, 93, 186, 1) 0%, rgba(28, 110, 193, 1) 61%, rgba(255, 255, 255, 1) 71%);
    // }
}

.el-custom--button.register {
    display: flex;
    background-color: $secondary-brand-color;
    color: $primary-brand-color;
    font-family: 'Encode Sans', sans-serif;
    width: 138px;
    height: 37px;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 18px;
    cursor: pointer;
    @include media-sm {
        color: $secondary-brand-color;
        background-color: transparent;
        border: 1.5px solid $secondary-brand-color;
        border-radius: 50px;
        width: 195px;
        height: 53px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border: 2px solid rgba($sixth-brand-color, 0.5);
            border-radius: 50px;
            left: 2px;
            filter: blur(2px);
            z-index: -1;
        }
    }
}

.abi--social {
    position: relative;
    .abi--social-menu {
        justify-content: space-between;
        width: auto;
        max-width: max-content;
        li {
            margin: 0px 7px;
            a {
                font-size: 20px;
                i {
                    color: $secondary-brand-color;
                }
                @include media-sm {
                    font-size: 35px;
                    i {
                        color: $secondary-brand-color;
                    }
                }
            }
        }
        @include media-sm {
            margin-top: 30px;
        }
        @include media-xs {
            margin-top: 50px;
        }
        @include media-sm-range-1 {
            margin-right: 0px;
        }
    }
    .follow-us-copy {
        display: none;
        color: $secondary-brand-color;
        font: {
            weight: 400;
            family: Roboto, sans-serif;
            size: 10px;
        }
        font-family: Roboto,
        sans-serif;
        @include media-sm {
            display: block;
        }
    }
    @include media-sm {
        transform: scale(1.5);
        opacity: 0;
        position: fixed;
        z-index: 5;
        width: 100%;
        height: 80px;
        bottom: 250px;
        right: unset;
        left: 0px;
        padding: 0px 20px;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    @include media-xs {
        bottom: 56vw;
    }
}