@import './vars/colors.scss';
@import './common/queries.scss';
// $sliderFullHeight: 57vw;
// $sliderFullHeight: 74vw;
$sliderFullHeight: 100vh;
@mixin historyDots {
    .slick-dots {
        position: absolute;
        border-right: 4px solid $fourtiary-brand-color;
        // top: 20px;
        z-index: 2;
        right: 0px;
        list-style: none;
        margin: 0px 35px 0px 0px;
        // height: 70%;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        li {
            pointer-events: initial;
            padding-right: 20px;
            height: 40px;
            cursor: pointer;
            font-family: 'ResotE';
            color: $fourtiary-brand-color;
            display: flex;
            align-items: center;
            font-size: 18px;
            text-align: right;
            &::before {
                transition: 0.5s all;
                right: -9px;
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $fourtiary-brand-color;
                border-radius: 50%;
            }
            &:hover {
                color: $secondary-brand-color;
                &::before {
                    background-color: $secondary-brand-color;
                }
            }
            &.slick-active {
                transition: 0.5s all;
                a {
                    font-size: 24px;
                    color: $secondary-brand-color;
                }
                &::before {
                    background-color: $secondary-brand-color;
                }
            }
            a {
                display: block;
                width: 100%;
                text-decoration: none;
                color: $fourtiary-brand-color;
            }
        }
    }
}

.el-custom--history-page {
    .el-custom--history-page__header {
        background-image: url('../assets/history/header/header-history.png');
        background-size: cover;
        height: 210px;
        // text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        h2 {
            font-family: 'ResotE';
            font-size: 40px;
            color: #fff;
            font-weight: 400;
        }
        p {
            font-size: 20px;
            font-family: Roboto, sans-serif;
            color: #fff;
            width: 627px;
            text-align: center;
        }
    }
    .el-custom--history-page__slider {
        border: 1px solid black;
        position: relative;
        // @include historyDots;
        .el-custom--history-page__slide {
            width: 100%;
            position: relative;
            .el-custom-home-page-cristal-img {
                // background-image: url('../assets/history/gallery/history-1.png');
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                // background-size: 100%;
                align-items: center;
                position: relative;
                display: flex;
                &.full {
                    height: $sliderFullHeight;
                }
                &:not(.full) {
                    height: $sliderFullHeight / 2;
                    // height: 37.5vw;;
                }
                .el-custom--history-page__slide--header {
                    position: absolute;
                    left: 8%;
                    width: 521px;
                    .el-custom--history-page__slide--header-year {
                        color: $fourtiary-brand-color;
                        font-size: 18px;
                        position: absolute;
                        top: -60px;
                        font-family: 'ResotE-Lavender';
                        &::before {
                            content: "";
                            position: absolute;
                            width: 125%;
                            height: 3px;
                            left: 55px;
                            bottom: -15px;
                            background-color: $fourtiary-brand-color;
                        }
                    }
                    h2 {
                        color: $fourtiary-brand-color;
                        font-size: 40px;
                        font-family: 'ResotE-Lavender';
                        font-weight: 500;
                    }
                    p {
                        color: $fourtiary-brand-color;
                        font-size: 20px;
                        font-family: Roboto, sans-serif;
                    }
                }
            }
        }
    }
    .el-custom--history-page__slider-navigation {
        position: fixed;
        right: 0px;
        // border: 1px solid red;
        height: 100%;
        z-index: 2;
        top: 0px;
        width: 100%;
        pointer-events: none;
        display: flex;
        align-items: center;
        // left: 50%;
        // transform: translate(-50%, -50%);
        @include historyDots;
    }
}

@include for-tablet-landscape-down('.el-custom--history-page') {
    .el-custom--history-page__slider {
        .el-custom--history-page__slide {
            .el-custom-home-page-cristal-img {
                border: 10px solid red;
                // background-image: url(attr(data-attr-responsive));
                .el-custom--history-page__slide--header {
                    border: 2px dashed black;
                    left: 4%;
                    width: 55%;
                    .el-custom--history-page__slide--header-year {
                        font-size: 1.8vw;
                        &::before {
                            width: 100%;
                            left: 5.8vw;
                            bottom: -0, 5vw;
                        }
                    }
                    h2 {
                        font-size: 3.8vw;
                    }
                    p {
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}