@import './vars/colors.scss';
@import './common/queries.scss';
.abi--how-to-participe {
    height: 45vw;
    padding: 40px 105px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45vw;
        background-image: url("../assets/waves/top.svg");
        background-position: top;
        background-size: 100%;
        z-index: -1;
    }
    .abi--how-to-participe__left-content,
    .abi--how-to-participe__right-banner {
        width: 44%;
        .abi--how-to-participe__left-content-title {
            width: 80%;
            color: $primary-brand-color;
            font: {
                weight: 600;
                // size: 36px;
                size: 3vw;
                family: 'CoronaHeadline-SemiBold';
            }
            margin-bottom: 30px;
        }
    }
    .abi--how-to-participe__left-content {
        // border: 3px solid orange;
        width: 52%;
        margin-top: 20px;
        .abi--how-to-participe__left-content-box-description {
            width: 100%;
            display: flex;
            margin-bottom: 25px;
            justify-content: space-between;
            align-items: flex-end;
            .icon {
                // min-width: 136px;
                // min-height: 132px;
                width: 10vw;
                height: 9.5vw;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                &.six-pack {
                    background-image: url('../assets/six-pack.svg');
                }
                &.ticket {
                    // background-image: url('../assets/tickets.svg');
                    background-image: url('../assets/six-pack.svg');
                }
            }
            .container-text {
                width: 68%;
                padding-bottom: 10px;
                // min-width: 400px;
                color: $secondary-brand-color;
                font: {
                    // size: 22px;
                    size: 1.5vw;
                    weight: normal;
                    family: 'HelveticaNeueLTStd-LtCn';
                }
                a,
                span {
                    color: $primary-brand-color;
                }
            }
        }
    }
    .abi--how-to-participe__right-banner {
        #how-to-participe-sliders {
            text-align: center;
            width: 37vw;
            picture {
                img {
                    width: 100%;
                }
            }
        }
        .how-to-participe-navigation {
            text-align: right;
            button {
                &.owl-prev {
                    background-image: url("../assets/icons/arrow-back.svg");
                }
                &.owl-next {
                    background-image: url("../assets/icons/arrow-next.svg");
                }
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-left: 15px;
                border: 1px solid transparent;
                width: 42px;
                height: 42px;
                &:hover,
                &:focus,
                &:active {
                    outline: 0;
                    outline-color: transparent !important;
                }
                span {
                    font-size: 1px;
                    color: transparent;
                }
            }
        }
        .how-to-participe-actions {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px !important;
            .el-custom--button {
                margin-top: 0px auto;
            }
        }
    }
    .abi--shopping-zone {
        z-index: 2;
        cursor: pointer;
        position: absolute;
        bottom: -50px;
        width: 33px;
        height: 66px;
        margin: 0px auto;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-image: url("../assets/icons/arrows-down.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@include for-tablet-landscape-only('.abi--how-to-participe') {
    height: 55vw;
    // border: 1px solid red;
    .abi--how-to-participe__right-banner {
        .how-to-participe-actions {
            .el-custom--button {
                height: 5vw;
                font-size: 1.8vw;
            }
        }
    }
}

@include for-tablet-portait-only('.abi--how-to-participe') {
    // border: 4px solid red;
    height: 65vw;
    padding: 40px 50px;
    .abi--how-to-participe__right-banner {
        .how-to-participe-actions {
            .el-custom--button {
                height: 6vw;
                font-size: 1.8vw;
            }
        }
    }
}

@include for-phone-only-custom('.abi--how-to-participe') {
    height: max-content;
    &::before {
        background-image: unset;
        // background-image: url('../assets/waves/products-waves.svg');
    }
    border: 3px solid darkcyan;
    height: auto;
    padding: 0px 20px;
    flex-wrap: wrap;
    .abi--how-to-participe__left-content,
    .abi--how-to-participe__right-banner {
        width: 100%;
    }
    .abi--how-to-participe__left-content {
        .abi--how-to-participe__left-content-title {
            font-size: 23px;
            width: 100%;
            text-align: center;
        }
        .abi--how-to-participe__left-content-wrapper-description {
            .abi--how-to-participe__left-content-box-description {
                margin: 0px auto;
                width: 295px;
                justify-content: center;
                flex-wrap: wrap;
                .icon {
                    width: 137px;
                    height: 130px;
                    margin-bottom: 15px;
                }
                .container-text {
                    width: 100%;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
    .abi--how-to-participe__right-banner {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        #how-to-participe-sliders {
            width: 100%;
            height: 66.5vw;
        }
        .how-to-participe-navigation {
            z-index: 2;
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-between;
            button {
                margin: 0px;
            }
        }
    }
    .abi--shopping-zone {
        // bottom: -77px;
        bottom: 0;
    }
    padding-bottom: 100px;
}