@import './vars/colors.scss';
@import './common/queries.scss';
body.no-overflow{
    overflow: hidden !important;
}
html, body{
    scroll-behavior: smooth;
}
.el-custom--main{
    overflow: hidden;
    &:not(.el-custom-404-page),
    &:not(.el-custom-register-page) {
        background-image: url('../assets/index/lineas-fondo_home.png');
    }
    &.el-custom-404-page,
    &.el-custom-register-page{
        background-image: unset !important;
    }
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    &:not(.el-custom-404-page),
    &:not(.el-custom-news-page){
        background-color: $fourtiary-brand-color;
    }
    width: 100%;
    height: 100%;
    padding: 0px;
    // background-color: $fourtiary-brand-color;
}

.el-custom--main{
    #block-cristal-pet-menuuser-menu,
    #block-cristal-pet-footer-menu{
        display: none;
    }
}
@include for-tablet-landscape-down ('.el-custom--main'){
    background-image: unset;
}