@import './vars/colors.scss';
@import './common/queries.scss';
.abi--legal-container {
    padding: 150px 70px;
    background-color: $secondary-brand-color;
    width: 100%;
    .abi--legal-title {
        text-align: center;
        color: $thirteen-brand-color;
        font: {
            weight: 900;
            size: 36px;
        }
    }
    .abi--legal-terms {
        padding: 30px;
        margin-top: 10px;
        // border: 1px solid red;
        max-height: 700px;
        overflow: hidden scroll;
        scrollbar-color: $primary-brand-color darken(white, 5);
        scrollbar-width: thin;
        font: {
            font-weight: 400;
            size: 16px;
            line-height: 1.2;
        }
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: darken(white, 5);
            border: 1px solid rgab($primary-brand-color, 0.4);
            // -webkit-box-shadow: inset 0 0 6px red;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $primary-brand-color;
        }
        @include media-sm {
            padding: 50px 20px;
            max-height: max-content;
            font-size: 14px;
        }
    }
    @include media-sm {
        padding: 50px 20px;
    }
    color: lighten($fourty-brand-color, 50);
}