@import './vars/colors.scss';
@import './common/queries.scss';
.abi--legal-container {
    padding: 150px 70px;
    background-color: $secondary-brand-color;
    width: 100%;
    .abi--legal-title {
        color: $fourty-brand-color;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font: {
            weight: 900;
            size: 30px;
        }
        @include media-xs-range-1 {
            font-size: 24px;
        }
    }
    .abi--legal-terms {
        padding: 30px;
        margin-top: 10px;
        max-height: 700px;
        overflow: hidden scroll;
        scrollbar-color: $primary-brand-color darken(white, 5);
        scrollbar-width: thin;
        font: {
            size: 16px;
            line-height: 1.2;
            family: 'Encode Sans', sans-serif;
            weight: 100;
        }
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background-color: darken(white, 5);
            border: 1px solid rgab($primary-brand-color, 0.4);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $primary-brand-color;
        }
        @include media-sm {
            padding: 20px;
            max-height: max-content;
            font-size: 14px;
            overflow: unset;
        }
    }
    @include media-sm {
        padding: 50px 20px;
    }
    color: lighten($fourty-brand-color, 50);
}