@mixin header-logo {
    a.el-custom--main-logo {
        display: inline-block;
        width: 111px;
        height: 90px;
        background-image: url('../assets/logo-bicolor.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}