@import './vars/colors.scss';
@import './common/queries.scss';
@import './logo.scss';
@mixin mobile-menu {
        position: fixed;
        margin: 0px;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $primary-brand-color;
        z-index: 5;
        text-align: center;
        padding: $padding-horizontal / 2 10px;
        display: none;
        left: 0px;
        flex-wrap: wrap !important;
        .close-mobile-menu {
            background-image: url('../assets/mobile-menu/close.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $fourtiary-brand-color;
            font-family: 'Arial';
            font-size: 60px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        width: 100%;
        margin: 0px;
        padding: 0px;
        list-style: none;
        li {
            width: 100%;
            padding: 20px 0px;
            a {
                font-size: 7vw;
                color: $fourtiary-brand-color;
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
               
            }
            &.active a{
                color: $fourtiary-brand-color !important; 
            }
        }
        @include header-logo();
        .el-custom--main-logo {
            display: inline-block;
            margin-bottom: $padding-horizontal / 2;
        }
}

@include for-tablet-landscape-down('.el-custom--mobile-menu') {
    a.el-custom--main-logo{
        width: 50%;
        min-width: 90px;
        max-width: 90px;
    }
}