@import './vars/colors.scss';
@import './common/queries.scss';
.abi--top-banner-pilsenextra {
    width: 100%;
    position: relative;
    picture {
        img {
            object-fit: cover;
            width: 100%;
        }
    }
}

.abi--top-banner-pilsenextra--header {
    position: absolute;
    left: 6.5vw;
    bottom: 16vw;
    color: $secondary-brand-color;
    .abi--top-banner-pilsenextra--header-title {
        line-height: 1;
        font: {
            family: 'coprgtb';
            weight: 400;
            size: 3.1vw;
        }
        @include media-xs-range-2 {
            line-height: 1.2;
            // color: red;
            letter-spacing: 2px;
            font-size: 7.1vw;
            text-shadow: 0px 0px 1px rgba($fourty-brand-color, 0.5);
        }
    }
    @include media-xs-range-2 {
        top: 4.2vw;
        text-align: center;
        width: 100%;
        bottom: unset;
        left: unset;
    }
}

.abi--top-banner-pilsenextra--main-image {
    position: absolute;
    width: 51vw;
    bottom: -4.7vw;
    left: 24vw;
    @include media-xs-range-2 {
        width: 89vw;
        bottom: unset;
        left: 4vw;
        top: 23.6vw;
    }
}

.abi--top-banner-pilsenextra--headline {
    position: absolute;
    width: 19.9vw;
    bottom: 14.8vw;
    right: 4vw;
    @include media-xs-range-2 {
        width: 58vw;
        bottom: 18vw;
        left: 20vw;
    }
}

.abi--top-banner-pilsenextra--copy {
    position: absolute;
    bottom: 3vw;
    right: 6.4vw;
    width: 19vw;
    @include media-xs-range-2 {
        right: unset;
        bottom: 4vw;
        left: 18.4vw;
        width: 59vw;
    }
}


/**START DETAILS SECTION**/

.abi--center-banner-details {
    background-color: #fff;
    // background-image: url("../assets/pExtra/base-details.png");
    // background-size: 100%;
    // background-position: center top;
    // background-repeat: no-repeat;
    width: 100%;
    height: 31vw;
    // display: flex;
    position: relative;
    picture {
        img {
            object-fit: cover;
            width: 100%;
        }
    }
    @include media-xs-range-2 {
        height: auto;
        // padding: 20px 25px;
    }
}

.abi--center-banner-details-ref-can {
    position: absolute;
    top: 4.7vw;
    left: 6vw;
    width: 16vw;
    .abi--center-banner-details-ref-can--header {
        .abi--center-banner-details-ref-can--abi-highlighted,
        .abi--center-banner-details-ref-can--title {
            line-height: 1;
            text-transform: uppercase;
            font: {
                family: 'coprgtb';
            }
        }
        .abi--center-banner-details-ref-can--abi-highlighted {
            font-size: 3.1vw;
            color: $fithteen-brand-color;
            @include media-xs-range-2 {
                font-size: 30px;
            }
        }
        .abi--center-banner-details-ref-can--title {
            color: $fourty-brand-color;
            font-size: 1.82vw;
            @include media-xs-range-2 {
                font-size: 24px;
            }
        }
        .abi--center-banner-details-ref-can--description {
            margin-top: 2.2vw;
            line-height: 1.4;
            font-size: 1.35vw;
            color: $fourty-brand-color;
            font: {
                family: 'Nunito', sans-serif;
                weight: 500;
            }
            @include media-xs-range-2 {
                font-size: 16px;
            }
        }
    }
    @include media-xs-range-2 {
        position: unset;
        width: 100%;
        top: unset;
        left: unset;
        display: flex;
        padding: 20px 0px 20px 25px;
        // max-width: 400px;
        margin: 0px auto;
    }
}

.abi--center-banner-details-ref-can--image {
    position: absolute;
    top: -4.8vw;
    left: 14vw;
    width: 21vw;
    @include media-xs-range-2 {
        position: unset;
        min-width: 202px;
    }
    @include media-xs-small {
        min-width: 144px;
    }
}

.abi--center-banner-details-ref-cup {
    position: absolute;
    top: 4.6vw;
    left: 48vw;
    .abi--center-banner-details-ref-cup--properties {
        .abi--center-banner-details-ref-cup--property {
            font: {
                family: 'coprgtb';
                weight: bold;
            }
            color: $fithteen-brand-color;
            font-size: 1.7vw;
            line-height: 1;
            margin-bottom: 2.7vw;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: -10vw;
                top: 1vw;
                width: 8vw;
                height: 3.5vw;
                background-image: url('../assets/icons/marker-details-ingredients.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                @include media-xs-range-2 {
                    width: 19vw;
                    height: 10.5vw;
                    left: -21vw;
                }
            }
            @include media-xs-range-2 {
                font-size: 4.5vw;
                height: 17vw;
            }
        }
        @include media-xs-range-2 {
            position: relative;
            left: -21.5vw;
        }
    }
    @include media-xs-range-2 {
        display: flex;
        position: relative;
        top: unset;
        left: unset;
    }
}

.abi--center-banner-details-ref-cup--image {
    position: absolute;
    // top: -4.8vw;
    left: -20vw;
    width: 20vw;
    @include media-xs-range-2 {
        position: unset;
        left: unset;
        width: unset;
    }
}

.abi--center-banner-details-ingredients {
    width: 20vw;
    position: absolute;
    right: 6vw;
    top: 3vw;
    * {
        font-family: 'coprgtb';
    }
    &::before {
        content: "";
        position: absolute;
        left: -6vw;
        top: 10.5vw;
        width: 1.5vw;
        height: 5vw;
        // border: 1px solid radius;
        background-image: url('../assets/icons/marker-ingredients.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .abi--center-banner-details-ingredients--title {
        font-size: 2vw;
        line-height: 1;
        color: $primary-darken-brand-color;
    }
    @include media-xs-range-2 {
        display: none;
    }
}

.abi--center-banner-details-ingredients--list {
    margin-top: 1vw;
    .abi--center-banner-details-ingredients--list-item {
        display: flex;
        margin-top: 0.7vw;
        align-items: center;
        .abi--center-banner-details-ingredients--list-item__img {
            background-color: $seventh-brand-color;
            width: 6vw;
            height: 6vw;
            min-width: 6vw;
            min-height: 6vw;
            border-radius: 50%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .abi--center-banner-details-ingredients--list-item__name {
            margin-left: 2vw;
            font-size: 1.4vw;
            line-height: 1.2;
            color: $fithteen-brand-color;
        }
    }
}

.abi--center-banner-description {
    position: relative;
    background-image: url("../assets/pExtra/detail-cup-banner-desktop.png");
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 41vw;
    picture {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    @include media-xs-range-2 {
        background-image: url("../assets/pExtra/detail-cup-banner-mobile.png");
        background-size: cover;
        height: auto;
        padding: 30px 20px 40px;
        display: flex;
        flex-wrap: wrap;
    }
}

.abi--center-banner-description--detail,
.abi--center-banner-description--image,
.abi--center-banner-description--detail--properties {
    position: absolute;
    @include media-xs-range-2 {
        position: unset !important;
    }
}

.abi--center-banner-description--image {
    width: 33vw;
    left: 37.5vw;
    top: 4vw;
    @include media-xs-range-2 {
        width: 100%;
        margin: 20px 0px;
        top: unset;
        left: unset;
        right: unset;
        display: flex;
        justify-content: center;
        img {
            max-width: 400px;
            margin: 0px auto;
            width: 289.27px !important;
            height: 316px;
            margin-left: 31vw;
            @include media-xs {
                margin-left: 25vw;
            }
        }
    }
}

.abi--center-banner-description--detail--properties {
    background-color: rgba($primary-darken-brand-color, 0.6);
    border: 1px solid #EFDD9B;
    right: 10vw;
    right: 13.8vw;
    width: 21.8vw;
    top: 6vw;
    padding: 2vw;
    .abi--center-banner-description--detail--properties__list {
        .abi--center-banner-description--detail--properties__list-item {
            margin-bottom: 0.7vw;
            &:nth-child(3),
            &:nth-child(4) {
                // background-color: red;
                margin-top: 2vw;
            }
            .abi--center-banner-description--detail--properties__list-item--title {
                color: $secondary-brand-color;
                font-family: 'coprgtb';
                font-size: 1.2vw;
                text-transform: uppercase;
                // line-height: 1;
                span {
                    display: block;
                }
                @include media-xs-range-2 {
                    font-size: 14px;
                }
            }
            .abi--center-banner-description--detail--properties__list-item--values {
                margin-top: 1vw;
                display: flex;
                align-items: center;
                color: $secondary-brand-color;
                i {
                    font-size: 2.4vw;
                    &.icon-amargor-filled {
                        font-size: 3.8vw;
                        @include media-xs-range-2 {
                            font-size: 23px;
                        }
                    }
                    &:not(:last-child) {
                        margin-right: 0.6vw;
                    }
                    @include media-xs-range-2 {
                        font-size: 14px;
                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }
            }
            .abi--center-banner-description--detail--properties__list-item--description {
                color: $secondary-brand-color;
                margin-top: 0.2vw;
                font-size: 1.3vw;
                font-family: 'Nunito', sans-serif;
                @include media-xs-range-2 {
                    font-size: 12px;
                }
            }
            @include media-xs-range-2 {
                margin-bottom: 20px;
            }
        }
    }
    @include media-xs-range-2 {
        width: 100%;
        max-width: 251px;
        margin: 0px auto;
        padding: 20px;
    }
}

.abi--center-banner-description--detail {
    background-color: rgba($primary-darken-brand-color, 0.6);
    border: 1px solid #EFDD9B;
    left: 6vw;
    width: 30vw;
    top: 14vw;
    padding: 2.2vw;
    .abi--center-banner-description--detail--title {
        font-family: 'coprgtb';
        font-size: 2.3vw;
        line-height: 1.05;
        text-transform: uppercase;
        color: $secondary-brand-color;
        @include media-xs-range-2 {
            font-size: 30px;
        }
    }
    .abi--center-banner-description--detail--p {
        font-family: 'Nunito', sans-serif;
        margin-top: 1.2vw;
        font-size: 1.6vw;
        color: #E5E5E5;
        @include media-xs-range-2 {
            font-size: 18px;
        }
    }
    @include media-xs-range-2 {
        max-width: 344px;
        margin: 0px auto;
        left: unset;
        width: auto;
        padding: 20px;
    }
}

.abi--center-banner-social--gallery {
    background-color: $primary-darken-brand-color;
    padding: 40px 0px;
    .abi--center-banner-social--gallery-title {
        padding: 0px 80px;
        text-align: center;
        line-height: 0.8;
        color: $secondary-brand-color;
        font: {
            size: 36px;
            family: 'coprgtb';
        }
        @include media-xs-range-2 {
            padding: 0px 20px;
            font-size: 23px;
        }
    }
    .abi--center-banner-social--gallery-wrapper {
        padding: 0px 80px;
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        picture {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        iframe,
        video {
            // height: 10vw;
            // width: 19.6vw;
            @include media-xs-range-2 {
                width: 100%;
                height: 100%;
            }
        }
        .abi--center-banner-social--gallery-wrapper-sliders {
            // border: 1px solid orange;
            &.owl-carousel {
                display: flex !important;
            }
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        text-align: center;
                        // border: 1px solid red;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            .abi--center-banner-social--gallery-wrapper-slide {
                background-color: $sixth-brand-color;
                width: 19.6vw;
                height: 11vw;
                @include media-xs-range-2 {
                    width: 222px;
                    height: 125px;
                    overflow: hidden;
                }
            }
        }
        @include media-xs-range-2 {
            padding: 0px 20px;
            padding-right: 0px !important;
        }
    }
}

.abi--main-container--gallery-wrapper-sliders--navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // padding: 0px 4vw;
    padding: 0px 50px;
    button {
        pointer-events: all;
        font-size: 0px;
        width: 3vw;
        height: 3vw;
        background-color: $secondary-brand-color;
        border: 1px solid transparent;
        border-radius: 5px;
        z-index: 2;
        &:hover,
        &:focus,
        &:active {
            outline: 0;
            outline-color: transparent !important;
        }
        &.owl-prev {
            background-image: url("../assets/icons/slider-prev-black.svg");
        }
        &.owl-next {
            background-image: url("../assets/icons/slider-next-black.svg");
        }
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30%;
    }
    @include media-xs-range-2 {
        display: none;
    }
}