@import './vars/colors.scss';
@import './common/queries.scss';
.el-custom-news-page {
    background-color: $primary-brand-color !important;
}

.el-custom--news-page__main {
    background-color: $primary-brand-color !important;
    padding: 15% 0px 40%;
    background-image: url('../assets/news/background.png');
    background-position: center;
    position: relative;
    margin-top: -6%;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.el-custom--news-stick-banner {
    width: 70%;
    height: 550px;
    background-image: url('../assets/news/sticky.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    header {
        padding: 0px 10%;
        margin-top: 5%;
    }
    h1,
    p {
        text-align: center;
        color: $fifth-brand-color;
        font-family: Poppins, sans-serif;
    }
    h1 {
        font-weight: bold;
        font-size: 52px;
        font-family: 'Poppins-Bold';
        font-style: italic
    }
    p {
        margin: 10px 0px;
        font-size: 25px;
        padding: 0px 25px;
        font-style: italic;
    }
}

@include for-tablet-landscape-only('.el-custom-news-page, .el-custom--news-page__main') {
    .el-custom--news-stick-banner {
        width: 90%;
        header {
            h1 {
                font-size: 52px;
            }
            p {
                font-size: 25px;
            }
        }
    }
}

@include for-tablet-landscape-down('.el-custom-news-page, .el-custom--news-page__main') {
    .el-custom--news-page__main {
        padding: 15% 0px 30%;
    }
    .el-custom--news-stick-banner {
        height: 350px;
        width: 90%;
        header {
            h1 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
            }
        }
    }
}

@include for-phone-only('.el-custom-news-page, .el-custom--news-page__main') {
    .el-custom--news-page__main {
        padding: 15% 0px 30%;
        margin-top: -18%;
        .el-custom--news-stick-banner {
            height: 250px;
            header {
                h1{
                    font-size: 5.3vw;
                }
                p {
                    font-size: 2.9vw;
                }
            }
        }
    }
}

@include for-phone-small('.el-custom-news-page') {
    .el-custom--news-page__main {
        margin-top: -25%;
        border: 3px solid black;
        background-size: 150%;
    }
}

@include for-phone-only('.el-custom--main'){
    #block-mainpagecontent{
       .el-custom--news-page__main{
            .el-custom--news-stick-banner{
                width: 100%;
                header{
                    margin-top: 8%;
                    h1{
                        font-size: 5vw;
                    }
                    p{
                        font-size: 4vw;
                    }
                }
            }
       } 
    }
}

@include for-phone-small('.el-custom--main'){
    #block-mainpagecontent{
       .el-custom--news-page__main{
            height: 70vh;
            margin-top: -12%;
            background-size: cover !important;
            .el-custom--news-stick-banner{
                width: 100%;
                header{
                    margin-top: 8%;
                    h1{
                        font-size: 4.6vw;
                    }
                    p{
                        font-size: 4vw;
                    }
                }
            }
       } 
    }
}