@import './vars/colors.scss';
@import './common/queries.scss';
.abi-main--ourcause-wrapper {
    background-size: 100%;
    overflow: hidden;
}

.abi-main--ourcause-banner {
    position: relative;
    // opacity: 0.5;
}

.abi-main---ourcause-header-title {
    position: absolute;
    top: 7vw;
    left: 3vw;
    .abi-main--ourcause-banner--title {
        line-height: 1;
        font-family: 'TTNorms-Bold';
        color: #fff;
        text-transform: uppercase;
        font-size: 5.5vw;
        @include media-xs {
            font-size: 14.5vw;
            margin-top: 2vw;
        }
    }
    @include media-min-width {
        margin: auto;
        left: 0;
        right: 0;
    }
}

.abi-main--ourcause-ours-section--video__wrapper {
    @include media-xs {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.abi-main--ourcause-ours-section {
    background-color: $secondary-brand-color;
    height: 43.5vw;
    .abi--gContain {
        display: flex;
        justify-content: space-between;
        @include media-xs {
            flex-wrap: wrap;
        }
    }
    .abi-main--ourcause-ours-section--header {
        margin-top: 4vw;
        width: 31vw;
        margin-left: 2.5vw;
        .abi-main--ourcause-ours-section--header__title {
            color: $primary-brand-color;
            text-transform: uppercase;
            font: {
                family: 'TTNorms-Medium';
                size: 3.5vw;
            }
            @include media-min-width {
                font-size: 39px;
            }
            @include media-xs {
                font-size: 11.5vw;
            }
        }
        .abi-main--ourcause-ours-section--header__description {
            color: $sixth-brand-color;
            margin-top: 1vw;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.4vw;
            b {
                margin-bottom: 0.1vw;
                display: block;
                @include media-min-width {
                    margin-bottom: 5px;
                }
            }
            @include media-min-width {
                font-size: 15px;
                margin-top: 8px;
            }
            @include media-xs {
                font-size: 4.9vw;
                margin-left: 2.3vw;
            }
        }
        .abi-main--ourcause-ours-section--header__description:nth-child(3) {
            margin-top: 2vw;
            @include media-xs {
                margin-top: 7vw;
            }
        }
        @include media-min-width {
            width: 400px;
            margin-top: 50px;
            margin-left: 0px;
        }
        @include media-xs {
            width: 100%;
            margin-top: 10vw;
        }
    }
    .abi-main--ourcause-ours-section--video {
        position: relative;
        // border: 1px solid black;
        width: 56vw;
        height: 34vw;
        margin-top: 4vw;
        img {
            width: 100%;
            display: block;
            &.playing {
                display: none;
            }
        }
        iframe.abi-main--ourcause-ours-section--video__iframe {
            top: 0px;
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            &.playing {
                display: block;
            }
        }
        button.play-video {
            position: absolute;
            margin: auto;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: 8vw;
            height: 8vw;
            border-radius: 50%;
            background-image: url("../assets/iconsv2/play-icon.svg");
            background-position: center;
            background-size: 88%;
            background-repeat: no-repeat;
            cursor: pointer;
            &.playing {
                display: none;
            }
            @include media-min-width {
                width: 86px;
                height: 86px;
            }
            @include media-xs {
                top: unset;
                bottom: unset;
                width: 15vw;
                height: 15vw;
            }
        }
        @include media-min-width {
            width: 626px;
            height: 380px;
            margin-top: 50px;
        }
        @include media-xs {
            // display: none;
            width: 100%;
            height: 54vw;
        }
    }
    @include media-min-width {
        height: 500px;
    }
    @include media-xs {
        min-height: 219.5vw;
    }
}

.abi-main--ourcause-ours-three-section {
    background: $tertiary-brand-color;
    background: linear-gradient( 180deg, $tertiary-brand-color 0%, $tertiary-brand-color 52%, rgba(255, 255, 255, 1) 83%);
    height: 43vw;
    .abi--gContain {
        display: flex;
        justify-content: space-between;
        @include media-xs {
            flex-wrap: wrap;
        }
    }
    .abi-main--ourcause-ours-three-section--header {
        width: 22vw;
        margin-left: 3vw;
        margin-top: 9vw;
        .abi-main--ourcause-ours-three-section--header__title {
            line-height: 1;
            text-transform: uppercase;
            color: $secondary-brand-color;
            font: {
                family: 'TTNorms-Medium';
                size: 3.1vw;
            }
            @include media-min-width {
                font-size: 30px;
            }
            @include media-xs {
                font-size: 8.1vw;
            }
        }
        .abi-main--ourcause-ours-three-section--header__description {
            margin-top: 0.5vw;
            color: $secondary-brand-color;
            font: {
                size: 1.35vw;
                family: 'Open Sans', sans-serif;
            }
            @include media-min-width {
                font-size: 15px;
            }
            @include media-xs {
                font-size: 4.9vw;
            }
        }
        .el-custom--button.knowmore {
            display: none;
            @include media-xs {
                background-color: $secondary-brand-color;
                color: $primary-brand-color;
                font-family: 'TTNorms-Medium';
                height: 12vw;
                width: 50vw;
                display: block;
                border-radius: 2vw;
                font-size: 3vw;
                margin-top: 7vw;
                display: flex;
            }
        }
        @include media-min-width {
            width: 270px;
            margin-left: 0;
            margin-top: 100px;
        }
        @include media-xs {
            width: 100%;
            margin-top: 5vw;
        }
    }
    .abi-main--ourcause-ours-three-banner {
        width: 55.4vw;
        margin-right: 2.8vw;
        margin-top: 7vw;
        @include media-min-width {
            width: 712px;
            height: 405px;
            margin-right: 20px;
            margin-top: 80px;
        }
        @include media-xs {
            width: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    @include media-min-width {
        height: 580px;
    }
    @include media-xs {
        background: linear-gradient( 180deg, $primary-brand-color 0%, $primary-brand-color 70%, rgba(255, 255, 255, 1) 100%);
        min-height: 142.5vw;
    }
}

.abi-main--ourcause-ourprogram {
    background-color: $secondary-brand-color;
    background-image: url("../assets/ourcause/altiplano-background.png");
    background-position: bottom center;
    background-size: 300%;
    background-repeat: no-repeat;
    // border: 1px solid red;
    height: 75vw;
    .abi-main--ourcause-ourprogram--header {
        text-align: center;
        width: 47vw;
        margin: 0px auto;
        margin-top: 3.5vw;
        .abi-main--ourcause-ourprogram--header__title {
            // color: red;
            color: $primary-brand-color;
            font: {
                size: 2.3vw;
                family: 'Open Sans', sans-serif;
            }
            @include media-min-width {
                font-size: 34px;
            }
            @include media-xs {
                font-size: 8vw;
                text-align: left;
                line-height: 1;
            }
        }
        .abi-main--ourcause-ourprogram--header__description {
            color: $fifth-brand-color;
            line-height: 1.1;
            margin-top: 2vw;
            font: {
                size: 1.45vw;
                family: 'Open Sans', sans-serif;
            }
            @include media-min-width {
                font-size: 15px;
            }
            @include media-xs {
                margin-top: 6vw;
                font-size: 4.7vw;
                text-align: left;
            }
        }
        @include media-min-width {
            width: 655px;
        }
        @include media-xs {
            width: 100%;
        }
    }
    @include media-min-width {
        height: 900px;
        background-size: 160%;
    }
    @include media-xs {
        background-image: url("../assets/ourcause/altiplano-background-mobile.png");
        background-size: 150%;
        min-height: 229.5vw;
    }
}

.abi-main--ourcause-ourprogram--features {
    width: 68vw;
    margin: 0px auto;
    margin-top: 5vw;
    display: flex;
    .abi-main--ourcause-ourprogram--feature {
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .abi-main--ourcause-ourprogram--feature__title,
        .abi-main--ourcause-ourprogram--feature__description {
            width: 100%;
            text-align: center;
        }
        .abi-main--ourcause-ourprogram--feature__img {
            width: 8vw;
            height: 8vw;
            @include media-min-width {
                width: 90px;
                height: 90px;
            }
            @include media-xs {
                width: 22vw;
                height: 22vw;
                margin-bottom: 2vw;
            }
        }
        .abi-main--ourcause-ourprogram--feature__title {
            margin-top: 1.6vw;
            color: $primary-brand-color;
            font: {
                family: 'TTNorms-Bold';
                size: 2.8vw
            }
            @include media-min-width {
                font-size: 25px;
            }
            @include media-xs {
                font-size: 5.9vw;
            }
        }
        .abi-main--ourcause-ourprogram--feature__description {
            color: $primary-brand-color;
            width: 13vw;
            text-transform: lowercase;
            &::first-letter {
                text-transform: uppercase;
            }
            font: {
                family: 'TTNorms-Medium';
                size: 1.2vw
            }
            @include media-min-width {
                font-size: 15px;
            }
            @include media-xs {
                font-size: 3.7vw;
                width: 100%;
            }
        }
        @include media-xs {
            width: 50%;
            margin-bottom: 5vw !important;
        }
    }
    @include media-min-width {
        justify-content: center;
        margin-top: 80px;
        width: 800px;
    }
    @include media-xs {
        flex-wrap: wrap;
        width: 100%;
    }
}

.abi-main--ourcause-ourbrands {
    padding-top: 10px;
    .abi-main--ourcause-ourbrands--header__title {
        text-align: center;
        color: $primary-brand-color;
        font: {
            size: 30px;
            family: 'TTNorms-Bold';
        }
    }
}

.abi-main--ourcause-ourbrands--slider {
    margin-top: 20px;
    .owl-stage-outer {
        .owl-stage {
            // border: 1px solid red;
            display: flex;
            align-items: center;
            .owl-item {
                // border: 1px solid black;
            }
        }
    }
}

.abi-main--ourcause-ourbrands--slider__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .abi-main--ourcause-ourbrands--slider__navigation {
        position: absolute;
        margin: 0px auto;
        width: 100%;
        // display: flex;
        justify-content: space-between;
        z-index: 1;
        pointer-events: none;
        display: none;
        button {
            pointer-events: all;
            font-size: 0px;
            width: 5vw;
            height: 5vw;
            max-width: 70px;
            max-height: 70px;
            border-radius: 50%;
            background-color: $tertiary-brand-color;
            border: 1px solid transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 30%;
            &:hover,
            &:focus,
            &:active {
                outline: 0;
                outline-color: transparent !important;
            }
            &.owl-prev {
                background-image: url("../assets/iconsv2/arrow-back.svg");
            }
            &.owl-next {
                background-image: url("../assets/iconsv2/arrow-next.svg");
            }
            @include media-xs-range-2 {
                width: 10vw;
                height: 10vw;
                min-width: 10vw;
                min-height: 10vw;
                max-width: 10vw;
                max-height: 10vw;
            }
        }
        @include media-xs-range-2 {
            display: flex;
        }
    }
    @include media-xs {
        padding: 0px 50px;
    }
}