@import './vars/colors.scss';
@import 'products_cards.scss';
@import './cristal/products_cards.scss';
@import './common/queries.scss';
.el-custom--products {
    background-color: white;
    background-image: url('../assets/products/lineas-fondo-products.png');
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    // padding: 0 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    &#cristal-products {
        scroll-behavior: smooth;
    }
    &::before {
        content: "";
        position: absolute;
        background-image: url('../assets/products/lineas-fondo-products-left.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        width: 100%;
        height: 100%;
        left: 0px;
    }
    &.cristal {
        .el-custom--products-wrapper {
            .el-custom--products-slide {
                .slick-list {
                    .slick-track {
                        @include products-card-cristal;
                    }
                }
            }
            .el-custom--products-arrows {
                button.slick-arrow {
                    &::before {
                        color: $seventh-brand-color !important;
                    }
                }
            }
        }
    }
    &.bicolor,
    &:not(.cristal){
        .el-custom--products-title{
            display: block;
            margin-top: 20px;
            position: absolute;
            top: 0px;
            text-align: center;
            width: 100%;
            z-index: 1;
            h2{
                font-size: 30px;
                color: $nineth-brand-color;
                font-family:'Matthan-sans-regular';
                position: relative;
                display: initial;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    border-radius: 20px;
                    background-color: #af1625;
                    bottom: -5px;
                    left: 0px;
                }
            }
        }
    }
    .el-custom--products-wrapper {
        height: 515px;
        max-width: 1151px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .el-custom--products-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            .slick-list {
                height: 88%;
                .slick-track {
                    .products--card {
                        transition: 0.5s all;
                    }
                    height: 100%;
                    @include products-card;
                }
            }
        }
        .el-custom--products-arrows {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            pointer-events: none;
            display: flex;
            align-items: center;
            button.slick-arrow {
                pointer-events: initial;
                border-radius: 5px;
                width: 50px;
                height: 50px;
                border: 1px solid transparent;
                color: transparent;
                font-size: 1px;
                &::before {
                    content: "";
                }
                &.slick-prev {
                    &::before {
                        color: $tertiary-brand-color;
                        font-size: 32px;
                        content: "\e901";
                        font-family: icon!important;
                    }
                }
                &.slick-next {
                    &::before {
                        color: $tertiary-brand-color;
                        font-size: 32px;
                        content: "\e902";
                        font-family: icon!important;
                    }
                }
                &:hover,
                &:focus,
                &:active {
                    outline: 0;
                    outline-color: transparent !important;
                }
            }
        }
    }
}

@include for-tablet-portait-only ('.el-custom--products') {
    &:not(.cristal) {
        .el-custom--products-wrapper {
            .el-custom--products-slide.slick-initialized.slick-slider {
                .slick-list.draggable {
                    .slick-track {
                        .products--card {
                            .products--card__description {
                                h3 {
                                    font-size: 18px;
                                }
                                .el-custom--button {
                                    font-size: 15px;
                                    height: 36px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-landscape-down ('.el-custom--products') {
    padding: 0px;
    .el-custom--products-wrapper {
        .el-custom--products-arrows {
            padding: 0px 20px;
        }
    }
}

@include for-phone-only ('.el-custom--products') {
    &::before {
        background-image: unset !important;
    }
    .el-custom--products-title{
        display: none !important;
    }
    background-image: unset !important;
    .el-custom--products-wrapper {
        max-width: none;
        height: auto;
        .el-custom--products-slide {
            height: 108vw;
            margin-top: 30px;
            margin-bottom: 30px;
            &.slick-slider {
                padding: 0px !important;
            }
            .slick-list {
                height: 100% !important;
                .slick-track {
                    .products--card {
                        margin: unset;
                        &.slick-active.slick-center {
                            width: 58vw !important;
                        }
                        .products--card__description {
                            h3 {
                                font-size: 16px !important;
                            }
                            .el-custom--button {
                                font-size: 4.5vw !important;
                                max-width: none;
                                height: unset !important;
                                padding: 15px 0px;
                                width: 80%;
                                background-color: $tertiary-brand-color;
                            }
                        }
                    }
                }
            }
        }
    }
    &.cristal {
        .el-custom--products-wrapper {
            .el-custom--products-slide {
                .slick-list {
                    .products--card {
                        .products--card__description {
                            .el-custom--button {
                                max-width: 80% !important;
                                font-size: 3.5vw !important;
                            }
                        }
                    }
                }
            }
        }
    }
}