@import './vars/colors.scss';
@import 'products_cards.scss';
@import 'flavors_headers.scss';
@import './common/queries.scss';

.el-custom--products{
    position: relative;
    border: 2px solid red;
    padding: 0 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    .el-custom--products-wrapper{
        height: 495px;
        max-width: 1151px;
        width: 100%;
        position: relative;
        .el-custom--products-slide{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid magenta;
            padding: 0px 53px;
            height: 100%;
            .slick-list{
                height: 88%;
                .slick-track{
                    height: 100%;
                    // background-color: red;
                    @include products-card;
                }
            }
        }
        .el-custom--products-arrows{
            // background-color: blue;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border: 1px dashed black;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            pointer-events: none;
            display: flex;
            align-items: center;
            button.slick-arrow {
                pointer-events: initial;
                border-radius: 5px;
                width: 50px;
                height: 50px;
                border: 1px solid transparent;
                color: transparent;
                font-size: 1px;
                &::before{
                    content: "";
                }
                &.slick-prev{
                    &::before {
                        color: $tertiary-brand-color;
                        font-size: 32px;
                        content: "\e901";
                        font-family: icon!important;
                    }
                }
                &.slick-next {
                    &::before {
                        color: $tertiary-brand-color;
                        font-size: 32px;
                        content: "\e902";
                        font-family: icon!important;
                    }
                }
                &:hover,
                &:focus,
                &:active {
                    outline: 0;
                    outline-color: transparent !important;
                }
            }
        }
    }
}
// .el-custom--banner-tagimage{
//     // border: 3px dashed darkcyan;
//     // padding-bottom: 10%;
//     &::before{
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 20%;
//         background-color: $primary-brand-color;
//         bottom: -20px;
//     }
//     position: relative;
//     > img{
//         margin-top: -24%;
//     }
//     article.el-custom--flavors-wrapper{
//         width: 100%;
//         position: absolute;
//         top: 20%;
//         padding: 0px $padding-horizontal;
//         @include header_flavor;
//         @include flavors-card;
//     }
// }

// @include for-tablet-landscape-down ('.el-custom--flavors-wrapper'){
//     padding-left: $padding-horizontal / 2 !important;
//     padding-right: $padding-horizontal / 2 !important;
// }
// @include for-tablet-landscape-down ('.el-custom--banner-tagimage'){
//     padding-bottom: 8%;
// }

// @include  for-phone-only ('.el-custom--banner-tagimage, .el-custom--banner-sku') {
//     &:not(.el-custom--banner-sku){
//         padding-bottom: 30%;
//         &::before{
//             height: 30%;
//             background-color: $primary-brand-color;
//             bottom: 0px;
//         }
//     }
//     article.el-custom--flavors-wrapper{
//         padding-right: 0px !important;
//         section.el-custom--flavors-card{
//             .flavors--card{
//                 .flavors--card__description{
//                     h3 {
//                         margin-bottom: 5px;
//                         font-size: 13px;
//                     }
//                     button.el-custom--button{
//                         font-size: 13px;
//                         width: 90%;
//                     }
//                 }
//             }
//         }
//     }
// }

// @include  for-phone-small ('.el-custom--banner-tagimage, .el-custom--banner-sku') {
//     article.el-custom--flavors-wrapper{
//         header.el-custom--flavors-header{
//             h5{
//                 font-size: 4.03vw!important;
//             }
//             h3{
//                 font-size: 7.5vw!important;
//             }
//         }
//         section.el-custom--flavors-card{
//             .flavors--card{
//                 .flavors--card__description{
//                     h3{
//                         font-size: 3.2vw;
//                     }
//                     button.el-custom--button{
//                         font-size: 3.3vw !important;
//                         width: 83%;
//                         height: auto;
//                     }
//                 }
//             }
//         }
//     }
// }

