
.mobile-tejedora{
    display: none;
}
.desktop-tejedora{
    display: block;
}
@media only screen and (max-width: 1240px) {
    .mobile-tejedora{
        display: none;
    }
    .desktop-tejedora{
        display: block;
    }
    .el-custom--banner{
        .el-custom--banner-header-content{
            h1{
                font-size: 5.4vw !important;
                span{
                    font-size: 5.8vw;
                }
                &::before{
                    width: 32%;
                }
            }
            h2{
                font-size: 4.4vw;
            }
            p.regards{
                font-size: 1.3vw;
                width: 40%;
                height: auto;
                padding-bottom: 20px;
            }
            .el-custom--button-group{
                margin-top: 30px !important;
                width: 40%;
                    div.label{
                        font-size: 1.2vw !important;
                    }
                    .el-custom-button{
                        padding: 5px 20px !important;
                        font-size: 1.4vw;
                    }
            }
        }
    }
}
@media only screen and (max-width: 690px) {
    .mobile-tejedora{
        display: block;
    }
    .desktop-tejedora{
        display: none;
    }
    .el-custom--banner{
        .el-custom--banner-header{
            .el-custom--banner-header-content{
                padding-bottom: 0px !important;
                top: 19% !important;
                background: transparent !important;
                height: auto !important;
                h1{
                    font-size: 10vw!important;
                    span{
                        font-size: 13vw;
                    }
                    &::before{
                        width: 76%;
                    }
                }
                h2{
                    font-size: 7.8vw;
                }
                p.regards{
                    width: 100%;
                    font-size: 3vw;
                }
                .el-custom--button-group{
                    margin-top: 35px !important;
                    width: 100%;
                    div.label{
                        font-size: 4.2vw!important;
                    }
                    .el-custom-button-gradient{
                        width: 80%;
                        button{
                            width: -webkit-fill-available;
                            font-size: 4.1vw !important;
                        }
                    }
                }
            }
        }
    }
}