@import './vars/colors.scss';
@import './common/queries.scss';

// .guarana-page{
//     #block-mainpagecontent{
//         margin-top: -4%;
//         .el-custom--main.el-custom-register-page{
//             margin-bottom: 5%;
//             background-color: $secondary-brand-color;
//             article.el-custom--register-page__form .el-custom-brand-register-form .block-form-group .js-form-item{
//                 &::before{
//                     content: inherit !important;
//                 }
//             }
//         }
//     }
// }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    backdrop-filter: blur(2px)
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    max-width: 554px;
    height: 281px;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .close {
        position: absolute;
        right: 20px;
        top: 20px;
        color: $tenth-brand-color;
        font-size: 28px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 10L10 30' stroke='%23FD8204' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 10L30 30' stroke='%23FD8204' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        &:hover,
        &:focus {
            color: $tenth-brand-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
    article{
        text-align: center;
        h3{
            font-size: 24px;
            font-family:Roboto,sans-serif;
            color: $primary-brand-color;
        }
        p{
            font-size: 14px;
            font-family:Roboto,sans-serif;
            color: $primary-brand-color;
            margin: 23px 0px;
        }
        .el-custom--button{
            width: 118px;
            height: 37px;
            color: $fourtiary-brand-color;
            background-color: $tenth-brand-color;
            border-radius: 5px;
        }
    }
  }

//Ajuste a todos los inputs
.apply-to-form-inputs {
    font-size: 15px;
    font-family:Roboto,sans-serif;
    color: $fifth-brand-color;
}

@mixin block-terms() {
    .el-custom--block-terms {
        margin: 30px 0px;
        .block-term {
            margin-bottom: 10px;
            padding: 0px 18px;
            label.js-form-item {
                margin-bottom: 22px;
                display: flex;
                label.form-check-label:not(.error) {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-family:Roboto,sans-serif;
                    font-size: 14px;
                    color: $fifth-brand-color;
                    a {
                        margin: 0px 4px;
                        text-decoration: underline !important;
                        color: $fifth-brand-color;
                    }
                }
            }
        }
    }
}

@mixin form-actions {
    .form-actions {
        text-align: center;
        margin-top: 52px;
        button.el-custom--button,
        input.el-custom--button {
            border-radius: 5px;
            background-color: $tenth-brand-color;
            font-family:Roboto,sans-serif;
            font-size: 18px;
            color: $fourtiary-brand-color;
            font-weight: 500;
            width: 238px;
            height: 48px;
        }
    }
}
@mixin nice-select-for-drupal {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent !important;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    width: auto;
}
@mixin form-select {
    .nice-select {
        @include nice-select-for-drupal;
        width: 100%;
        border-radius: 0px;
        border: 1px solid transparent;
        border-bottom: 1px solid $primary-brand-color;
        height: 46.4px;
        * {
            @extend .apply-to-form-inputs;
        }
        span.current {
            font-weight: bolder;
        }
        ul {
            width: 100%;
            border-radius: 0px;
            max-height: 200px;
            overflow: scroll;
        }
    }
    select{
        border: 1px solid transparent;
        border-bottom: 1px solid $primary-brand-color;
        background-color: transparent;
        // background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E) !important;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='9' viewBox='0 0 17 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.16742 6.28428L15.0084 1.93979e-08L16.335 1.21863L8.16742 8.72153L-0.000122058 1.21863L1.32645 2.19463e-07L8.16742 6.28428Z' fill='%23454D58'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat, repeat !important;
        background-position: right .7em top 50%, 0 0 !important;
        background-size: .65em auto, 100% !important;
        height: 34px;
        width: 100%;
        border-radius: 0px;
        margin-top: 8px;
        margin-top: 0px;
        padding: 5px 0px;
        font-family:Roboto,sans-serif;
        font-size: 15px;
        font-weight: 500;
        transition: 0.2s all;
        -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:hover,
            &:focus,
            &:focus-visible,
            &:active {
                outline: 0;
                outline-color: transparent !important;
                border-bottom: 1px solid #008F4F !important;
            }
        &.error{
            border-color: $tertiary-brand-color !important;
        }
        optgroup { font-size:40px; }
        option{
            font-size: 14px;
            padding: 5px;
            background: #c5c5c5;
        }
    }
    select option:checked {
        color: $primary-brand-color;
        font-weight: 700;
      }
}

@mixin form-item {
    .js-form-item {
        // border: 1px dashed !important;
        padding-left: 0px;
        padding-right: 0px;
        &:first-child:not(.form-full){
            margin-right: 5%;
        }
        &:not(.form-full){
            width: 50%;
        }
        &.form-full{
            width: 100%;
        }
        border: 1px solid transparent;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        div.js-form-item{
            width: 100%;
        }
        &.form-item-birthday{
            justify-content: space-between;
            display: flex;
            select.form-select.form-control.el-custom--input,
            div.js-form-item{
                width: 30% !important;
                background-image: unset;
            }

            select.form-select.form-control.el-custom--input{
                text-align-last:center;
            }
        }
        label {
            &:not(.error) {
                color: $primary-brand-color;
                font-size: 18px;
                font-family:Roboto,sans-serif;
                display: block;
                font-weight: 700;
                height: max-content;
            }
            &.error {
                color: $tertiary-brand-color;
                position: absolute;
                bottom: -16px;
                font-size: 12px;
            }
            font-family:Roboto,sans-serif;
            font-weight: bolder;
            width: 100%;
        }
        // border: 2px solid red;
        @include form-select();
        input:not(.form-checkbox) {
            height: 32px;
            width: 100%;
            border: 0px solid transparent;
            padding: 0px 0px;
            border-bottom: 1px solid $primary-brand-color;
            background-color: transparent !important;
            @extend .apply-to-form-inputs;
            color: $fifth-brand-color;
            transition: 0.3s all;
            font-family: 'Roboto', sans-serif;
            &:focus,
            &:active{
                color: $fifth-brand-color !important;
                border-bottom: 1px solid #008F4F !important;
                color: #454D58 !important;
                font-weight: 700;
            }
            &::placeholder {
                color: rgba(#454D58, 0.5);
                font-size: 13px;
                font-weight: 500;
            }
            // &.error{
            //     border-color: $tertiary-brand-color !important;
            // }
            &[type="number"]{
                -webkit-appearance: none;
                margin: 0;
                -moz-appearance: textfield;
            }
        }
    }
}

.js-form-item-tyc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    label.error{
        &#tyc-error{
            font-size: 12px;
            display: block;
            padding-top: 10px;
            color: $tertiary-brand-color;
        }
    }
}

.el-custom-register-page {
    transition: 1s all;
    background-repeat: no-repeat;
    background-image: url('../assets/fondo-registro.png');
    background-position: center;
    background-size: cover;
}

.el-custom--register-page__main {
    max-width: 1153px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-top: 5px;
    article.el-custom--register-page__form {
        margin: 0px $padding-horizontal * 2;
        width: 71%;
        header {
            margin-top: 33px;
            margin-bottom: 35px;
            width: 100%;
            h3{
                font-family:Roboto,sans-serif;
                color: $fifth-brand-color;
                text-align: left;
                font-size: 30px;
                font-weight: 700;
            }
        }
        .el-custom-brand-register-form {
            max-width: 1000px;
            .block-form-group {
                display: flex;
                @include form-item();
            }
        }
        @include block-terms();
        @include form-actions();
    }

    article.el-custom--register-page__image{
        transition: 0.2s all;
        background-image: url('../assets/form/img_formulario_1.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 509px;
        max-height: 766px;
        width: 80%;
        // height: 65vw;
        height: 73vw;
    }
}

.js-form-item-phone{
    label.error{
        bottom: -17px !important;
    }
}

@include for-tablet-landscape-down('.el-custom--register-page__main') {
    max-width: 700px;
    article.el-custom--register-page__form {
        header{
            h3{
                font-size: 25px;
                text-align: center;
            }
        }
        .el-custom-brand-register-form{
            .block-form-group {
                flex-wrap: wrap;
                fieldset.js-form-item {
                    &:first-child:not(.form-full){
                        margin-right: 0px !important;
                    }
                    label:not(.error) {
                       font-size: 15px;
                    }
                    width: 100% !important;
                    &.js-form-type-select {
                        &::before{
                            content: inherit !important;
                        }
                        select{
                            font-size: 15px !important;
                        }
                        label:not(.error) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            .form-actions {
                width: 100%;
                button.el-custom--button,
                input.el-custom--button {
                    font-size: 16px;
                }
            }
        }
        margin-bottom: 50px;
    }
    .el-custom--register-page__image{
        display: none !important;
    }
}
