@import './vars/colors.scss';
@import './common/queries.scss';
// Ajustes drupal
.guarana-page{
    #block-mainpagecontent{
        margin-top: -4%;
        .el-custom--main.el-custom-register-page{
            margin-bottom: 5%;
            background-color: $secondary-brand-color;
            article.el-custom--register-page__form .el-custom-brand-register-form .block-form-group .js-form-item{
                &::before{
                    content: inherit !important;
                }
            }
        }
    }
}
.apply-to-form-inputs {
    font-size: 15px;
    font-family: Poppins, sans-serif;
    color: $fifth-brand-color;
}

@mixin block-terms() {
    .el-custom--block-terms {
        margin: 30px 0px;
        .block-term {
            margin-bottom: 10px;
            padding: 0px 12px;
            label.js-form-item {
                display: flex;
                label.form-check-label:not(.error) {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-family: Poppins, sans-serif;
                    font-size: 12px;
                    color: $fifth-brand-color;
                    a {
                        margin: 0px 4px;
                        text-decoration: underline !important;
                        color: $fifth-brand-color;
                    }
                }
            }
        }
    }
}

@mixin form-actions {
    .form-actions {
        button.el-custom--button,
        input.el-custom--button {
            background-color: $tertiary-brand-color;
            font-family: Poppins, sans-serif;
            font-size: 15px;
            font-style: italic;
            color: $fourtiary-brand-color;
            padding: 20px 50px;
        }
    }
}
@mixin nice-select-for-drupal {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff !important;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    width: auto;
}
@mixin form-select {
    .nice-select {
        @include nice-select-for-drupal;
        width: 100%;
        border-radius: 0px;
        border: 2px solid #C5C5C5;
        height: 46.4px;
        * {
            @extend .apply-to-form-inputs;
        }
        span.current {
            font-weight: bolder;
        }
        ul {
            width: 100%;
            border-radius: 0px;
            max-height: 200px;
            overflow: scroll;
        }
    }
    select{
        border: 2px solid #c5c5c5;
        background-color: $fourtiary-brand-color;
        background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E) !important;
        background-repeat: no-repeat, repeat !important;
        background-position: right .7em top 50%, 0 0 !important;
        background-size: .65em auto, 100% !important;
        height: 44px;
        width: 100%;
        border-radius: 0px;
        margin: 8px 0;
        padding: 0 0 0 10px;
        font-family: Poppins, sans-serif;
        -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            &:hover,
            &:focus,
            &:focus-visible,
            &:active {
                outline: 0;
                outline-color: transparent !important;
            }
        &.error{
            border-color: $tertiary-brand-color !important;
        }
    }
}

@mixin form-item {
    .js-form-item {
        border: 1px solid transparent;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        div.js-form-item{
            width: 100%;
        }
        &.form-item-birthday{
            // width: 100%;
            justify-content: space-between;
            display: flex;
            div.js-form-item{
                width: 30% !important;
            }
        }
        label {
            &:not(.error) {
                font-style: italic;
                font-size: 15px;
                font-family: 'Poppins-SemiBold';
                display: block;
                height: 20px;
            }
            &.error {
                color: $tertiary-brand-color;
                position: absolute;
                bottom: -16px;
                font-size: 12px;
            }
            font-family: Poppins,
            sans-serif;
            font-weight: bolder;
            width: 100%;
            // margin-bottom: 10px
        }
        // border: 2px solid red;
        @include form-select();
        input:not(.form-checkbox) {
            height: 42px;
            width: 100%;
            border: 2px solid #C5C5C5;
            background-color: $fourtiary-brand-color !important;
            @extend .apply-to-form-inputs;
            color: $fifth-brand-color;
            &:focus,
            &:active{
                color: $fifth-brand-color !important;
            }
            &::placeholder {
                color: #9A9A9A;
                font-size: 13px;
                font-weight: bold;
                font-family: Poppins, sans-serif;
            }
            &.error{
                border-color: $tertiary-brand-color !important;
            }
            &[type="number"]{
                -webkit-appearance: none;
                margin: 0;
                -moz-appearance: textfield;
            }
        }
    }
}

.js-form-item-tyc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    label.error{
        &#tyc-error{
            font-size: 12px;
            display: block;
            padding-top: 10px;
            color: $tertiary-brand-color;
        }
    }
}

.el-custom-register-page {
    transition: 1s all;
    background-repeat: no-repeat;
    background-image: url('../assets/fondo-registro.png');
    background-position: center;
    background-size: cover;
}

.el-custom--register-page__main {
    padding: 50px 0px 18%;
    header {
        margin: 0px $padding-horizontal * 2;
        h3{
            span.title,
            span.small-title{
                display: block;
            }
            span.small-title{
                font-size: 18px;
            }
            span.title{
                font-family: 'Poppins-Bold';
                color: $fifth-brand-color;
                font-style: italic;
                text-align: center;
                font-size: 35px;
            }
        }

        h3,
        h2 {
            text-align: center;
            font-family: Poppins, sans-serif;
            color: $fifth-brand-color;
            font-style: italic;
        }
        h2 {
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 0px 10%;
            font-size: 17px;
            font-weight: 200;
        }
    }
    article.el-custom--register-page__form {
        padding: 0px $padding-horizontal * 2;
        display: flex;
        justify-content: center;
        .el-custom-brand-register-form {
            max-width: 1000px;
            .block-form-group {
                display: flex;
                @include form-item();
            }
        }
        @include block-terms();
        @include form-actions();
    }
}

.js-form-item-phone{
    label.error{
        bottom: -17px !important;
    }
}

input.el-custom--input[type=number] {
    color: black !important;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}
@include for-big-desktop-middle('.el-custom--register-page__main'){
    // border: 1px solid red !important;
    padding-top: 73px !important;
    padding-bottom: 100px !important;
}

@include for-tablet-landscape-down('.guarana-page') {
    #block-mainpagecontent{
        margin-top: -6%;
        .el-custom--main.el-custom-register-page{
            padding-top: 5%;
        }
    }
    background-image: url(../assets/fondo-registro-mobile.png);
    background-position-y: 30%;
}

@include for-tablet-landscape-down('.el-custom--register-page__main') {
    padding: 5% 0 31%;
    header{
        margin: 0px $padding-horizontal / 2;
        h3{
            span.d-none{
                display: inline-flex;
            }
            span.small-title{
                font-size: 12px;
            }
            span.title{
                font-size: 23px;
            }
        }
        h2 {
            display: none;
        }
        margin-bottom: 20px;
    }
    article.el-custom--register-page__form {
        padding: 0px $padding-horizontal;
        .el-custom-brand-register-form {
            .block-form-group {
                flex-wrap: wrap;
                .js-form-item {
                    width: 100%;
                    &.js-form-type-select {
                        &::before{
                            content: inherit !important;
                        }
                        label {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .form-actions {
                width: 100%;
                button.el-custom--button,
                input.el-custom--button {
                    width: 100%;
                }
            }
        }
    }
}
@include for-phone-only('.el-custom-register-page') {
    background-image: url('../assets/fondo-registro-mobile.png');
    background-position-y: -42px;
    background-color: $secondary-brand-color !important;
}
//Ajustes drupal
@include for-phone-only('.guarana-page') {
    #block-mainpagecontent{
        margin-top: -10%;
        .el-custom--main.el-custom-register-page{
            background-image: url(../assets/fondo-registro-mobile.png);
            background-position-y: 30%;
            padding-top: 7%;
        }
    } 
}

@include for-phone-only('.el-custom--register-page__main') {
    header{
        h3{
            font-size: 3vw;
        }
        h1{
            font-size: 6.8vw;
        }
        p {
            display: none;
        }
        margin-bottom: 20px;
    }
    article.el-custom--register-page__form {
        padding: 0px $padding-horizontal / 2;
        .el-custom--block-terms {
            .block-term label.js-form-item {
                label.form-check-label:not(.error) {
                    *,
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
        .form-actions {
            button.el-custom--button,
            input.el-custom--button {
                font-size: 15px !important;
                padding: 10px 30px;
            }
        }
        article.el-custom--register-page__form{
            .el-custom-brand-register-form{
                .block-form-group{
                    .js-form-item{
                        label:not(.error){
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }
    }
}

@include for-phone-small('.el-custom--register-page__main'){
    header{
        h3 {
            span.small-title{
                font-size: 5vw !important;
            }
        }
    }
}
