@import './common/queries.scss';
@import './vars/colors.scss';
.el-custom--banners {
    position: relative;
}

.banner {
    img {
        width: 100% !important;
    }
    .el-custom--banners-anchor{
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        picture {
            width: 100%;
        }
        .el-custom--banners-anchor-header{
            position: absolute;
            z-index: 11;
            // left: 0px;
            // top: 0px;
            left: 10%; 
            width: 462px;
            // width: 36%;
            padding-top: 5%;
            .banners-anchor-header--title,
            .banners-anchor-header--description{
                color: white;
            }
            .banners-anchor-header--title{
                font: {
                    size: 55px;
                    family: 'Matthan-sans-regular';
                    weight: 100;
                }
            }
            .banners-anchor-header--description{
                margin: 25px 0;
                line-height: 1.4;
                font: {
                    size: 20px;
                    weight: 100;
                    family: 'Roboto', sans-serif;
                }
            }
            .el-custom--button{
                background-color: #AF1024;
                color: white;
                width: 157px;
                height: 48px;
                border-radius: 5px;
                font: {
                    size: 25px;
                    family: 'Matthan-sans-regular';
                }
            }
            
        }
    }
}


.el-custom--banners-dots {
    position: absolute;
    width: 100%;
    bottom: 74px;
    z-index: 2;
    ul.slick-dots {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            button[role="tab"] {
                border: 1px solid transparent;
                // border-radius: 50%;
                width: 32px;
                height: 8px;
                font-size: 1px;
                margin: 0px 5px;
                &:active,
                &:hover,
                &:focus,
                &:visited {
                    outline: transparent !important;
                }
            }
            &.slick-active {
                button[role="tab"] {
                    background-color: $sixth-brand-color;
                }
            }
            &:not(.slick-active) {
                button[role="tab"] {
                    background-color: $eighth-brand-color;
                }
            }
        }
    }
}

.el-custom--banners-arrows{
    pointer-events: none;
    transition: 0.5s all;
    position: absolute;
    width: 100%;
    padding: 0px 20px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    button.slick-arrow {
        pointer-events: auto;
        border: 1px solid transparent;
        color: transparent;
        font-size: 1px;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        padding: 0px;
        &::before{
            content: "";
        }
        &.slick-prev{
            &::before {
                color: $tertiary-brand-color;
                font-size: 32px;
                content: "\e901";
                font-family: icon!important;
            }
        }
        &.slick-next {
            &::before {
                color: $tertiary-brand-color;
                font-size: 32px;
                content: "\e902";
                font-family: icon!important;
            }
        }
        &:hover,
        &:focus,
        &:active {
            outline: 0;
            outline-color: transparent !important;
        }
    }
}

.el-custom--banners-arrow-bottom{
    position: absolute;
    display: block;
    color: white;
    width: 54px;
    height: 40px;
    bottom: 13px;
    z-index: 1;
    font-size: 13px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    i{  
        margin-top: 3px;
        display: block;
        transform: rotate( 90deg );
        font-size: 22px;
        color: $sixth-brand-color;
    }
}

@include for-big-desktop-up('.el-custom--banners'){
    .banner {
        .el-custom--banners-anchor{
            .el-custom--banners-content{
                button{
                    font-size: 30px;
                }
            }
        }
    }
}

@include for-tablet-landscape-down('.el-custom--banners') {
    .el-custom--banners-arrows{
        padding: 0px;
    }
    .el-custom--banners-dots {
        ul.slick-dots {
            padding-bottom: 16px;
            width: 100%;
            display: flex !important;
            justify-content: center;
            align-items: center;
            li{
                button{
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                }
            }
        }
    }
}

@include for-phone-only('.el-custom--banners') {
    .banner {
        .el-custom--banners-anchor{
            .el-custom--banners-content{
                width: 60%;
                &:nth-child(1){
                    width: 37%;
                    h1{
                        margin-bottom: 0px;
                        text-align: left;
                        span:nth-child(1){
                            display: block;
                            padding-left: 10%;
                        }
                        span:nth-child(2){
                            display: block;
                            padding-left: 20%;
                        }
                    }
                }
                &:not(:nth-child(1)){
                    width: 50%;
                    padding-top: 9%;
                    h1{
                        font-size: 5.2vw;
                        text-align: left;
                        margin-bottom: 0px;
                        span{
                            display: block;
                            &:nth-child(1){
                                padding-left: 10%;
                            }
                            &:nth-child(2){
                                padding-left: 20%;
                            }
                        }
                    }
                }
                p{
                    font-size: 3vw;
                    display: none;
                }
                button{
                    padding: 10px;
                    font-size: 2.4vw;
                    margin-top: 10px;
                }
            }
        }
    }
}

@include for-phone-small('.el-custom--banners') {
    .el-custom--banners-dots {
        .slick-arrow {
            width: 60px;
            height: 60px;
            &.slick-prev {
                &::before {
                    font-size: 25px;
                }
            }
            &.slick-next {
                &::before {
                    font-size: 25px;
                }
            }
        }
    }
}