@import './vars/colors.scss';
@import './common/queries.scss';
.el-custom--terms-page__main {
    padding: 10% $padding-horizontal 20%;
    background-image: url('../assets/terms/terms-dust-back.png');
    background-color: $primary-brand-color;
    background-position: center;
    background-size: 100%;
    h1,
    p {
        font-family: Poppins, sans-serif;
        color: $fourtiary-brand-color;
    }
    h1 {
        margin-bottom: 50px;
        text-align: center;
        font-size: 35px;
        font-family: 'Poppins-Bold';
    }
    p {
        font-size: 17px;
        margin-bottom: 20px;
    }
}

.el-custom--footer.el-custom--terms-footer {
    margin-top: 0px;
}

@include for-tablet-landscape-down('.el-custom--terms-page__main') {
    padding: 10% $padding-horizontal / 2 20%;
    background-image: none;
    h1 {
        text-align: left;
        margin-bottom: 25px;
        font-size: 30px;
    }
    p {
        font-size: 16px;
    }
}