@import './vars/colors.scss';
@import './common/queries.scss';
// .abi--internal-section.thanks {
//     background-image: url('../assets/general-background.png');
//     background-position: center;
//     background-size: cover;
//     background-position: center top;
//     padding: 10px;
//     @include media-xs-range-2 {
//         position: relative;
//         background-image: url('../assets/thanks-background-mobile.png');
//     }
// }
.abi--internal-section {
    // background-color: $secondary-brand-color;
    width: 100%;
    min-height: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-xs-range-2 {
        height: auto;
        min-height: unset;
        // background-color: red;
        padding: 10px;
    }
    // @include media-xs-small {
    //     height: 160vw;
    // }
}

.abi--thanks-section__box {
    width: 100%;
    max-width: 747px;
    background-color: rgba(#fff, 0.8);
    border-radius: 15px;
    padding: 50px 20px;
    overflow: hidden;
    .abi--thanks-section__box-header {
        position: relative;
        text-align: center;
        .abi--thanks-section__box-header--title {
            text-align: center;
            color: $tertiary-brand-color;
            font: {
                size: 50px;
                family: 'SS Nickson N.6';
                weight: 400;
            }
            line-height: 1;
            @include media-xs-range-2 {
                font-size: 35px;
            }
        }
    }
    .abi--thanks-section__box-content {
        width: 100%;
        max-width: 507px;
        line-height: 1.2;
        padding: 30px 20px;
        color: $tertiary-brand-color;
        text-align: center;
        font: {
            size: 25px;
            weight: 200;
            family: 'CaponiDisplayRoman';
        }
        margin-top: 20px;
        @include media-xs-range-2 {
            font-size: 16px;
            margin-top: 0px;
        }
    }
    a.el-custom--button {
        display: flex;
        text-align: center;
        border-radius: 50px;
        border: 3px solid $tertiary-brand-color;
        margin: 0px auto;
        margin-top: 20px;
        width: 100%;
        padding: 10px 7px;
        max-width: 253px;
        color: $tertiary-brand-color;
        font: {
            weight: 400;
            family: 'SS Nickson N.6';
            size: 25px;
        }
        @include media-xs-range-2 {
            margin-top: 0px;
        }
    }
    @include media-xs-range-2 {
        margin: 100px 0px;
    }
}