@import './vars/colors.scss';
@import './common/queries.scss';
.abi-main--home--nasty-background {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        background-image: url("../assets/video/background.png");
        background-position: center;
        background-size: 150%;
        width: 100%;
        height: 100vw;
    }
}

.abi-main--home--section-headline {
    margin: 65px auto 50px;
    position: relative;
    width: max-content;
    * {
        text-align: center;
    }
    .abi-main--home--section-headline--title {
        color: $primary-brand-color;
        font-family: 'DrukWide-Bold';
        font-size: 25px;
        letter-spacing: 0.8px;
        @include media-xs-range-1 {
            font-size: 5vw;
        }
    }
    .abi-main--home--section-headline--subtitle {
        margin-top: 10px;
        color: $fourty-brand-color;
        font-family: 'DrukWide-Bold';
        font-size: 17px;
        @include media-xs-range-1 {
            font-size: 4.8vw;
        }
    }
    .abi-main--home--section-headline--description {
        margin-top: 10px;
        color: $fourty-brand-color;
        font-family: 'AbolitionW00-Regular';
        font-size: 18px;
        @include media-xs-range-1 {
            margin-top: 3vw !important;
            font-size: 4.8vw;
        }
    }
    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 86px;
        height: 62px;
        background-size: cover;
        background-repeat: no-repeat;
        top: -25px;
        @include media-xs-range-1 {
            top: 2vw;
            width: 16vw;
            height: 16vw;
            background-size: contain;
        }
    }
    &::before {
        background-image: url('../assets/iconsv2/bird-title-right.svg');
        right: -95px;
    }
    &::after {
        background-image: url('../assets/iconsv2/bird-title-left.svg');
        left: -95px;
    }
    @include media-xs-range-1 {
        width: 100%;
    }
}

.abi-main--home--section-video {
    width: 100%;
    // min-height: 34vw;
    position: relative;
    padding: 0px 20px;
    iframe {
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
    }
    &::before {
        display: none;
        content: "";
        position: absolute;
        bottom: 0px;
        left: -41px;
        background-image: url("../assets/iconsv2/video-leaft-left.svg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 60px;
        height: 29px;
        z-index: 1;
        @include media-xs-range-1 {
            display: block;
            bottom: 0;
            left: -4vw;
            width: 14vw;
            max-width: 60px;
        }
    }
    @include media-max-width {
        min-height: 34vw;
    }
    @include media-xs-range-1 {
        padding: 0px 0px;
        margin-bottom: 40px;
        &::after {
            content: "";
            position: absolute;
            bottom: -7vw;
            right: 0;
            background-image: url("../assets/gallery/bg-decoration.png");
            background-size: contain;
            background-position: center right;
            background-repeat: no-repeat;
            width: 25vw;
            height: 28vw;
            z-index: 1;
        }
    }
}

.abi-main--home--section-video--thumbnail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .el-custom--button.play-video {
        cursor: pointer;
        position: absolute;
        width: 115px;
        height: 126px;
        background-image: url("../assets/video/play-icon.png");
        background-position: center;
        background-size: cover;
        margin-top: -3vw;
        @include media-xs-range-1 {
            width: 13.4vw;
            height: 15vw;
        }
    }
    img {
        width: 100%;
    }
}