@import '../common/queries.scss';
@import '../vars/colors.scss';
.el-custom--promotional-banner {
    picture{
        width: 100%;
    }
    &.cristal {
        // height: 40vw;
        // background-color: darkred;
        // background-image: url('../assets/index/banners/banner-desktop-cristal.svg');
        .el-custom--promotional-banner-header {
            position: absolute;
            right: 24%;
            margin-top: -7px;
            text-align: center;
            h2 {
                text-transform: uppercase;
                font-family: 'ResotE-Lavender';
                color: $fourtiary-brand-color;
                font-size: 4.2vw;
                line-height: 0.9;
                span {
                    color: $secondary-brand-color;
                    display: block;
                }
            }
            p {
                text-transform: uppercase;
                color: $fourtiary-brand-color;
                font-family: 'ResotE-Lavender';
                font-size: 2.6vw;
            }
        }
    }
}

@include for-phone-only ('.el-custom--promotional-banner') {
    &.cristal {
        align-items: unset;
        height: 104vw;
        background-image: url('../assets/index/banners/banner-mobile-cristal.svg');
        .el-custom--promotional-banner-header {
            width: 100%;
            right: unset;
            left: 0px;
            margin-top: 12%;
            h2 {
                line-height: .8;
                font-size: 9vw;
            }
            p {
                font-size: 5.4vw;
            }
        }
    }
}